[2013-08-13 15:34] tdhopper opened #2 "Tests failing"
I'm seeing a bunch of tests fail. I'm on Windows 7 with Python 2.7.5 via Anaconda 1.6.2 (64-bit).

[code]

[2013-08-15 02:06] dolaameng opened #3 "mapper.fit_transform() fails"
I was following the tutorial in the readme page.

[code]

The result:

[code]

[2013-08-15 02:09] #3 closed, assigned to nobody

[2013-09-21 21:00] paulgb opened #4 "Grid search doesn't work"
Grid search uses the built-in `cross_val_score` method so grid search can't currently be used with `DataFrameMapper`.

[2013-09-21 21:03] #2 closed, assigned to nobody

[2013-09-22 21:10] #4 closed, assigned to nobody

[2013-11-26 03:44] mattobrien415 opened #6 "interesting error:"
On my attempt:
easy_install sklearn_pandas

"The package setup script has attempted to modify files on your system
that are not within the EasyInstall build area, and has been aborted.

This package cannot be safely installed by EasyInstall, and may not
support alternate installation locations even if you run its setup
script by hand.  Please inform the package's author and the EasyInstall
maintai

[2013-12-04 14:47] #6 closed, assigned to nobody

[2013-12-17 17:48] dfd opened #7 "Anyway to keep track of DataFrame variable names after DataFrameMapper transformation?"
I'm thinking specifically of a categorical variable to multiple binary variables.  One of the biggest pain points in the sklearn pandas ecosystem compared to R is keeping track of which numpy columns correspond with what categorical variables.  I guess what I'm picturing is perhaps a list of variable names that correspond to the output of the DataFrameMapper.  Is there an easy way to get this toda

[2014-01-23 20:14] ghost opened #9 "MinMaxScaler(): TypeError: 'numpy.int64' object does not support item assignment"
The MinMaxScaler() throws an error when put through the DataFrameMapper.  There's a related issue on scikit-learn that can be fixed by the addition of braces, but I can't figure out a syntax in the mapper that will do the equivalent.

See here:
https://github.com/scikit-learn/scikit-learn/issues/1973

code follows

[code]

[2014-01-25 21:44] #7 closed, assigned to nobody

[2014-01-27 23:09] #9 closed, assigned to nobody

[2014-03-28 18:16] bbalin12 opened #10 "automatically detecting binarizer vs scalar"
Question -- I'm dealing with a dataframe of roughly 50 columns of data, where 30 are multi-category categorical string variables.  Is there a way to automatically designate whether a column should have the binarizer applied to it (ie the 30 multi-category variables), and which should be scaled (ie the continuous numeric variables)?

Using your example above, a way that

`mapper2 = DataFrameMapper(

[2014-04-04 19:06] #10 closed, assigned to nobody

[2014-05-09 14:44] andytwigg opened #11 "GridSearchCV extremely slow with DataFrameMapper?"
I have a dataframe, not particularly large (~3000 rows, 250 cols) on which I do the following:
[code]

From a quick glance, it seems to spend all its time indexing dataframe objects. The following 2 pieces of code are very fast:

[code]

[code]

So it must be something to do with using GridSearchCV with the DataFrameMapper.  Any ideas?

More generally, is there a better way to handle categorical v

[2014-07-14 11:49] paulgb opened #12 "TypeError"
http://stackoverflow.com/questions/24583249/typeerror-fit-takes-exactly-3-arguments-2-given-with-sklearn-and-sklearn-pa#

[2014-08-13 09:46] sveitser opened #13 "Track which DataFrame Column corresponds to which Array Column(s) after Transform"
I think it would be useful for feature selection if it was possible to keep track of which DataFrame columns were mapped to which array columns during the transformation so that one could use for instance the `feature_importances_` of ensemble methods in sklearn.

Is there a straight-forward way to do this right now? I looked into it a bit but didn't find a common way to get the necessary informat

[2014-08-29 22:19] nmyk opened #14 "change basestring to str"
in `__init__.py`, line 82

please

[2014-11-25 22:14] perone opened #17 "There is no way to use multiple pre-processors in the same column"
It would be nice if I could do this:

    mapper = DataFrameMapper([
        ('COLUMN', [sklearn.preprocessing.LabelEncoder(), sklearn.preprocessing.OneHotEncoder()]),
    ])

[2015-01-26 09:05] chanansh commented on #3
Hi, I still have issues with a similar Error.
Can you please say what's wrong?
[code]

[code]

my pip freeze is
[code]

[2015-02-11 23:37] caterpillars opened #19 "What should we do for columns that don't need any transformation, but need to be kept?"
Hi,

I am new to this package. I think it is very useful. But I have a bunch of columns where I don't need to do any transformation. But it seems like if we don't keep them into the list, it will be dropped after transformation. In this case, we should we do? separate the columns into two groups, one to transform, one not to, and merge them afterwards? If so, do we know for sure the order is prese

[2015-02-12 00:03] caterpillars opened #20 "Does this work with Imputer?"
Since Imputer act on all columns, I think. Is the solution to use a pipeline?

Thanks,

Hongli

[2015-03-04 16:21] dukebody commented on #19
I think you can use None as transformer.

[2015-03-05 10:55] dukebody commented on #17
Can't you do this using a scikit-learn Pipeline?

[2015-03-05 10:58] dukebody opened #21 "Transforming a single column should return a numpy array, not Series"
`DataFrameMapper.get_col_subset(df, 'colname')` returns a Pandas Series. According to the docstring it should return a numpy array.

[2015-03-05 11:11] dukebody commented on #12
@paulgb  check https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/base.py#L406. I think you can assume that all transformers accept an `y` argument, defaulting to None and don't use it if not passed.

[2015-03-05 13:51] jmizgajski commented on #19
Yes this is it, but it *should* be in the doc - otherwise these features
are not passed to the classifier (one would expect otherwise).

2015-03-04 17:21 GMT+01:00 Israel Saeta Pérez <notifications@github.com>:

[2015-03-05 15:08] dukebody commented on #19
Are you up for submitting a pull request? :)

[2015-04-04 14:13] helger opened #23 "PyPi package is out-of-date"
I'm not sure if this is the correct place for this issue. However, the `sklearn-pandas` package on [PyPi](https://pypi.python.org/pypi/sklearn-pandas) is out-of-date and contains some bugs that has since been fixed.

[2015-05-20 15:40] dukebody commented on #23
@calpaterson ^^

[2015-05-24 09:13] calpaterson commented on #23
I plan to do some kind of release this bank holiday weekend

[2015-05-30 06:15] calpaterson commented on #23
I've released version 0.0.10 to PyPI, which includes a fix for unicode.  Thanks for your patience

[2015-05-30 06:15] #23 closed

[2015-05-30 09:21] helger commented on #23
Thanks!

[2015-05-30 14:53] dukebody commented on #20
I've used it with a single column and it works. I guess it works for `axis=0`. If you need inputation working on more columns, then yes, use a pipeline.

Please close this issue if it works for you too, or submit a failing example.

[2015-05-30 19:13] dukebody commented on #17
I'm working on this.

[2015-06-16 14:34] cancan101 opened #26 "cross_val_score passes a list rather than a DataFrame to Estimator"
Docs say:

but I see:
[code]

[code]

[2015-06-16 14:50] cancan101 commented on #26
The issue is in `_safe_split`:
[code]

[2015-06-16 14:59] cancan101 commented on #26
It actually looks like the newest version of scikit handles Dataframes natively.

[2015-06-27 17:48] alpalalpal opened #27 "calling best_estimator_ returns 'AttributeError: 'NoneType' object has no attribute 'best_estimator_'"
Here is my code. I want to return the best_estimator_

[code]

[2015-08-09 09:53] dukebody commented on #17
We are working on this. See https://github.com/paulgb/sklearn-pandas/pull/28#issuecomment-129148818

[2015-08-09 16:17] dukebody commented on #21
I rebased the pull request and added a test. @calpaterson could you check this?

[2015-08-09 16:20] dukebody commented on #20
This works with Imputer. You can use it like `(['column_name'], Imputer())` since `Imputer` expects a 2-dimensional array with `[n_samples, n_columns]` as input and `('column_name', Imputer())` would return a 1-dimensional array.

@calpaterson can you close this issue?

[2015-08-09 16:21] dukebody commented on #19
This is already documented. Would you please @calpaterson close this issue (or give me permissions to do so)?

[2015-08-09 16:39] dukebody commented on #13
I think it is possible to track at least which columns of the final matrix correspond to each variable. Since the results of the transformation of each set of columns is hstacked in the end, we could keep track of the columns that resulted from the transformation of each variable in a "feature_indices_" variable in the mapper after transformation.

The meaning could be exactly the same one as OneH

[2015-08-09 16:41] dukebody commented on #14
According to the comments on https://github.com/paulgb/sklearn-pandas/pull/15 this is already fixed. @calpaterson can we close this issue marking it as fixed?

[2015-08-09 16:56] dukebody opened #30 "Selecting unexistent columns in the dataframe should raise an exception"
import pandas as pd
from sklearn_pandas import DataFrameMapper

    array([[ nan],
           [ nan]])

I would expect a KeyError. Explicit is better than Implicit. :)

[2015-08-10 05:38] #14 closed

[2015-08-10 05:44] #21 closed

[2015-08-10 06:05] #17 closed

[2015-08-10 06:23] calpaterson commented on #27
Ah, we're not returning self from fit and predict from our subclasses of the grid search utilities.

I'm going to work on a PR that fixes this

In the meantime you can work around this by changing the last few lines to:

[code]

Also I edited to put in code formatting :)

[2015-08-10 06:25] #19 closed

[2015-08-10 17:10] BigCrunsh opened #34 "Sparse vs. Dense Encoding"
I run a pipeline to extract text features as follows.
[code]
This is working fine and is nicer than the approach described in [1]:
[code]
However, the former results in a dense encoding (which is intractable for text). Are you planning to change that?

[1] http://scikit-learn.org/stable/auto_examples/hetero_feature_union.html

[2015-08-10 21:47] dukebody commented on #34
I'm not sure we can do this without breaking anything.

Apparently there is a scipy function to hstack sparse matrices (http://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.hstack.html). I've tested it does hstack sparse+dense or dense+sparse correctly, but it fails for dense+dense. However it is not documented that it works for mix of sparse+dense, even if my tests show that it works.

[2015-08-11 18:44] dukebody commented on #34
@calpaterson ping! Can you review this?

I think this *could* break for users that were expecting the results of the mapper to always be dense. We could add a `sparse_output=False` kwarg to the mapper, so the previous behaviour is preserved. However the case might be to rare to consider the overhead of adding the extra optional parameter. I'm not sure if it's worth it.

Additionally we might want

[2015-08-12 06:30] calpaterson commented on #34
I'm ok with breaking backward comparability so long as we signal it with the versioning.  Presumably we would go to 0.1.0 for this change.  I'm currently reading up on sparse representations and hstack to convince myself that PR #36 does deal with all situations

[2015-08-12 13:18] BigCrunsh commented on #34
@dukebody: thx for taking care of it!

[2015-09-29 09:16] sebastianmarkow opened #38 "Multiple transformers broken"
Multiple transformers seems to be broken (for me at least).

Sample from the documentation:
[code]

Issue:

[code]

[2015-09-29 18:05] dukebody commented on #38
You are using an old version of the code. Please update with pip -U or use an editable git source in requirements.txt.

[2015-10-01 18:00] sebastianmarkow commented on #38
Seems like I'm on the latest 0.0.10
Am I missing something?

[code]

[2015-10-01 21:07] dukebody commented on #38
Yes, the docs you see on github are for the latest master version, which doesn't have a release yet on PyPI. If you want to install the latest master version point pip to the git repository:

    pip2 install --upgrade git+https://github.com/paulgb/sklearn-pandas.git@master

[2015-10-01 23:19] sebastianmarkow commented on #38
I see, well that triggered the confusion.

Thanks Isreal

[2015-10-01 23:19] #38 closed

[2015-10-05 03:34] DmitriR opened #39 "AttributeError: 'list' object has no attribute 'fit'"
Code straight from the docs page. Examples until that point work fine.

[code]
gives me

[code]

[2015-10-05 16:28] dukebody commented on #39
Duplicate of https://github.com/paulgb/sklearn-pandas/issues/38

[2015-10-06 04:06] naught101 opened #40 "Support for xray?"
[Xray](https://github.com/xray/xray/) does basically a similar job to pandas, but in arbitrary dimensions. It would be great to have something like sklearn-pandas for xray as well.

xray objects already have a `.to_dataframe()` method, which could perhaps be used to do this, but I'm not sure about how it would work translating the results back into n-dimensions.

[2015-10-07 04:01] DmitriR commented on #39
Fix as explained in #38 :
`pip install --upgrade git+https://github.com/paulgb/sklearn-pandas.git@master`

Thanks @dukebody

[2015-10-07 04:01] #39 closed

[2015-10-22 05:30] naught101 opened #41 "Pandas In, Pandas Out? `.inverse_transform()` method"
It would be really nice to have the ability to put pandas dataframes into sklearn pipelines, and to have equivalent pandas dataframes returned afterwards. I think that this module would be the place for that - probably all that would be required is a `.inverse_transform` method on the DataFrameMapper.

Would something like this be wanted in this module? I can make a pull request, if so.

Before I

[2015-10-22 07:52] dukebody commented on #41
Hi Naught101!

You can already put pandas dataframes into sklearn pipelines. Just create a pipeline where the first step is the `DataFrameMapper`.

Regarding the proposal "to have equivalent dataframes returned afterwards", you mean to make the pipeline return a pandas DataFrame? Sklearn pipelines usually return numpy arrays, with either classification probabilities for each class (predict_proba),

[2015-10-22 08:27] naught101 commented on #41
Aha.. I wasn't thinking clearly, but now I can: DataFrameMappers can also be useful for generating the `y` value passed to a `fit` method. The `inverse_transform` would then be useful to get back a suitable dataframe. But yes, this would be a different DataFrameMapper to the one used for `X`.

I guess that would all happen outside the pipeline though..

Has anyone working on the code asked @paulgb

[2015-10-22 08:31] dukebody commented on #41
@calpaterson got write access to this repo, but he's not answering my mails. :S

[2015-10-22 12:42] naught101 commented on #41
Hrm. Is there any reason you couldn't expand the current behaviour to also map the y dataframe? e.g. the call would be `mapper = DataFrameMapper(X_features = [(blah...)], y_features = [(blergh)])`, and then `.fit()`, `.transform()` and `.predict()` all call whichever transforms are relevant on X and/or y.

[2015-11-01 22:08] zacstewart opened #42 "AttributeError: 'list' object has no attribute 'fit'"
I'm trying to transform one column with multiple transformers and I'm getting this error. My pipeline is as follows:

[code]

[2015-11-01 22:15] zacstewart commented on #42
I was able to get around this by using another `Pipeline`.

[code]

In my opinion, this is even better than allowing the DataFrameMappter to take tuples with either a transformer or a list. It might be a little less ergonomic, but it means the interface is more consistent.

Maybe this just needs a README update?

[2015-11-01 22:28] dukebody commented on #42
Hi zac!

The documentation examples you mention only work with the master, unreleased version of `sklearn-pandas`. The people with rights to make releases are probably not reading these issues at all.

I've written to @paulgb asking for write access to make a new release on PYPI.

In the meantime, you can workaround the issue installing the latest version directly from github or using a Pipeline a

[2015-11-02 08:45] dukebody commented on #41
@naught101 I have write access now to this repo so we can work this out if you come out with useful use cases. :)

[2015-11-02 09:47] #20 closed

[2015-11-02 09:49] dukebody commented on #41
@naught101 you might want something similar to what is discussed in https://github.com/paulgb/sklearn-pandas/issues/13 ?

[2015-11-02 15:18] zacstewart commented on #42
Cool. Why copy the code rather than just use `Pipeline` itself? If you did the latter, you might get to take advantage of any performance enhancements, etc… introduced to it.

[2015-11-03 00:18] naught101 commented on #41
Yeah, I suspect that #13 is a prerequisite for this issue..

[2015-11-07 18:48] dukebody commented on #39
We've released a new version in PyPI, 0.0.12, that allow list transformers.

[2015-11-07 18:49] dukebody commented on #38
We've released version 0.0.12 in PyPI, 0.0.12, that allow list transformers. So you don't have to install from github anymore.

[2015-11-07 18:52] dukebody commented on #40
I'm not sure that functionality would fit the purpose of this package. Can you use Xray with scikit-learn?

[2015-11-07 19:19] #30 closed

[2015-11-07 19:47] dukebody commented on #42
We have released a new version of sklearn-pandas to PYPI that supports the multiple transformers feature.

Regarding using `Pipeline` itself instead of copying part of the code, to be honest I don't rembember the rationale very well. Could you submit a PR that does this without breaking existing tests? Thanks!

[2015-11-07 19:53] #34 closed

[2015-11-08 00:18] naught101 commented on #40
No. On second thoughts, it's probably better to just use `.to_dataframe()` manually, and just use the pandas DF with scikit-learn.

[2015-11-08 00:18] #40 closed

[2015-11-08 03:43] ethanluoyc commented on #41
If say the transformed dataframe has exactly the same shape as the dataframe before the transformation. Can we pass in the columns to regenerate the predicted results in a DataFrame format?

[2015-11-08 13:58] dukebody commented on #41
@ethanluoyc Could you provide a code example of how that feature would work? Not the implementation, but how one would use it.

[2015-11-08 14:09] dukebody commented on #12
Thinking it further I don't believe this is really a bug. the `DataFrameMapper` is not intended to be used as a pipeline. That is, one shouldn't pass a model estimator like `KNeighborsClassifier` as a transformer in the mapper.

[2015-11-08 14:09] #12 closed

[2015-11-08 14:20] ethanluoyc commented on #41
I am doing something on basketball so I will just give an exmaple on this
say I have this dataframe,
<img width="806" alt="screenshot 2015-11-08 22 02 01" src="https://cloud.githubusercontent.com/assets/6040760/11020743/669260de-8664-11e5-9b4d-9b2af41cb698.png">

after the conversion I will get something like this.

Which basically did substitution on based on the position of the keyword (which is

[2015-11-08 15:38] dukebody commented on #11
I've been investigating this and the culprits seem to be these lines:

    time unit: 1e-6 s
    Line #      Hits         Time  Per Hit   % Time  Line Contents
    ==============================================================
    90                                               @profile
    91                                               def _get_col_subset(self, X, cols):
    ...
    105
    10

[2015-11-08 15:56] dukebody commented on #11
Hm, I was testing it with `scikit-learn==0.15.2`. It looks like this might be already solved in `scikit-learn>=0.16.0`, since it uses an `indexable` function to check the input instead of `check_arrays`.

See https://github.com/paulgb/sklearn-pandas/issues/26#issuecomment-112461981 and https://github.com/scikit-learn/scikit-learn/blob/0.16.0/sklearn/cross_validation.py#L1350.

[2015-11-08 16:01] #27 closed

[2015-11-08 16:06] dukebody commented on #26
@cancan101 you are probably right regarding your last comment.

Regarding the `cross_val_score` wrapper, it was intended to be able to be able to use a dataframe with the cross-validation functions in pipelines. The list you see is in fact a somewhat dirty trick to avoid sklearn to turn the dataframe into an array. That list is later mapped to a `DataFrame` inside the `DataFrameMapper`. But you ca

[2015-11-08 16:06] #26 closed

[2015-11-08 16:16] dukebody commented on #41
I believe we can do the inverse transformation if we:
    * Track which array columns correspond to each dataframe columns.
    * Every transformer used has an `inverse_transform(X)` method.

It shouldn't be too hard to do. Any takers? :)

[2015-11-08 16:18] dukebody opened #43 "Test if we can use sklearn Pipeline instead of copying its code."
For the multiple transformers as a list feature. See https://github.com/paulgb/sklearn-pandas/issues/42

[2015-11-08 16:19] dukebody commented on #42
I'm closing this issue. @zacstewart see https://github.com/paulgb/sklearn-pandas/issues/43 regarding the direct use of `Pipeline` in `sklearn_pandas` code.

[2015-11-28 09:35] #42 closed

[2015-12-05 16:37] dukebody opened #45 "1.0.0 breaks compatibility with former pickled DataFrameMapper transformer list"
Previous to 1.0.0 the transformers list for each variable was stored as is, and custom code, mostly copied from sklearn's `Pipeline`, was used to apply the transformations in chain, one after another.

With 1.0.0 we switched to using the sklearn's `Pipeline` itself for the chained transformation. This pipeline is instantiated during the `DataFrameMapper` init (see https://github.com/paulgb/sklearn

[2015-12-05 17:05] dukebody opened #46 "List of transformers doesn't support a last transformer that doesn't accept two arguments"
From `sklearn-pandas==1.0.0' we use sklearn's `Pipeline`, that expects all given transformers to accept two arguments (`x` and `y`) `fit` and `transform`. However some common transfomers used with `sklearn-pandas` like `LabelEncoder` or `LabelBinarizer` expect only a `y` argument failing during fit/transform.

`sklearn-pandas` transformers should all be expected to have a `fit` and `transform` met

[2015-12-05 17:10] dukebody commented on #43
@zacstewart I'm now regretting from this... See https://github.com/paulgb/sklearn-pandas/issues/46 . sklearn `Pipeline` expects transformers with a `fit(x, y)` signature, `predict` method in the last one, etc. `sklearn-pandas` doesn't support this. I'm thinking perhaps we should get back to using custom code instead of the `Pipeline` code.

[2015-12-06 11:36] #45 closed

[2015-12-06 11:36] #46 closed

[2015-12-06 11:43] dukebody commented on #46
I opted for subclassing `sklearn.pipeline.Pipeline` to:

1. Make the pipeline fit/transform methods call the transformers with a single "X" argument, always omitting the second "y" argument that the original sklearn `Pipeline` uses. `DataFrameMapper`'s are not expected to include estimators needing a `fit(X, y)` signature for now, but always transformers instead.

2. Check that *all* transformer s

[2015-12-06 11:46] dukebody commented on #43
I solved the mentioned issue subclassing `Pipeline`.

[2015-12-06 11:46] #43 closed

[2015-12-06 16:37] FedericoCeratto opened #47 "GitHub and PyPI releases out of sync."
Hi, the releases on GitHub and PyPI are out of sync - this could be misleading - could you please sync them (or remove the GH releases)?

[2015-12-06 16:52] dukebody commented on #47
I've deleted the Github releases. Everyone expects Python packages to be distributed using PyPI.

Thanks for the heads-up!

[2015-12-06 16:52] #47 closed

[2015-12-07 14:03] zacstewart commented on #43
Nice fix, sorry I didn't consider this when I suggested we use `Pipeline`.

This touches on another limitation of run up against in sklearn. You can't put post-processors at the end of a pipeline. Sometimes I want to do something like `pred[pred < 0] = 0`, but because `Pipeline` expects every step to be a transformer, except the last one, which it expects to have `predict`.

I really wish we could

[2015-12-08 11:24] dukebody commented on #43
Hmm I guess that you could code up some meta-estimator class that takes a pipeline and does some post-processing after the pipeline `predict`. Pseudo-code:

    class PostProcessor:
        def __init__(self, pipeline):
            self.pipeline = pipeline

        def fit(self, X, y=None, *args, **kwargs):
            return self.pipeline.fit(X, y, *args, **kwargs)

        def predict(self, X, *

[2015-12-08 11:29] dukebody commented on #11
Perhaps we should just write in the documentation that the custom cv-wrappers are only needed for `scikit-learn<0.16.0` and that's all. What do you think @zacstewart ?

[2015-12-08 14:27] zacstewart commented on #43
I was just rambling about `Pipeline`. Not looking for a fix in sklearn_pandas. I think that upstream in scikit-learn they should consider renaming `predict` to `transform`. Another use case is that I've sometimes wanted to put a bunch of estimators into a `FeatureUnion` as use them as features for a final estimator. To do that, [I basically wrap them with a `FeatureTransformer`](http://zacstewart.

[2015-12-08 14:42] zacstewart commented on #11
I think documenting that is a good idea, but also maybe pass-through `sklearn_pandas.GridSearchCV` to  `sklearn` itself depending on the version. Is something like this worth uglying up the code to make it future-friendly?

[code]

[2015-12-19 19:07] dukebody commented on #11
I don't think it's worth uglying up the code that way. We can say that these wrappers are deprecated and will be eventually dropped in `sklearn-pandas` 2.0. I will however make sure in a test that `sklearn.grid_search.GridSearchCV` in `scikit-learn>=0.16.0` works with a `DataFrameMapper` in a pipeline.

[2015-12-19 20:55] dukebody commented on #11
@zacstewart can you review https://github.com/paulgb/sklearn-pandas/pull/48 please? It's a really minor addition but I always like the four-eyes approach to changes. :-)

[2015-12-22 18:02] Balandat commented on #11
Along those lines: Unfortunately the function CalibrateClassifierCV introduced in sklearn 0.16 does not seem work with DataFrameMappers in a pipeline (this is still the case in sklearn 0.17)

[2015-12-23 09:27] dukebody commented on #11
@Balandat Could you provide an example with a traceback (or wrong result)? Thanks.

[2016-01-04 12:30] DataTerminatorX opened #49 "Help :( Fail to import sklearn-pandas @Windows 7"
I've already successfully installed sklearn-pandas using "pip install scikitlearn-pandas" on windows's command line.

However, when I try  "import sklearn-pandas", it reports error information as " Cannot import name _name_estimators". I've repeated uninstall and install many times but didn't work.

The whole error information is as below:

  File "<stdin>", line 1, in <module>
  File "C:\Python27

[2016-01-06 21:57] dukebody commented on #49
Which version of `scikit-learn` are you using? Please post the output of the following command: `pip freeze`.

[2016-01-07 03:42] DataTerminatorX commented on #49
thx a lot for offering help!

versions are:
scikit-learn  0.14.1
pandas  0.17.0

[2016-01-08 04:49] DataTerminatorX commented on #49
I've solved it by updating scikit-learn and pandas. thx a lot !

[2016-01-08 08:58] dukebody commented on #49
Great! We have to update docs to state which scikit-learn version is required.

[2016-01-08 18:44] bmweiner opened #50 "Support for Multiple Transformers 1-d then 2-d"
sklearn.preprocessing.OneHotEncoder()])])

    array([[ 1.,  1.,  1.,  1.,  1.]])

vs.

    array([[ 0.,  1.,  0.],
           [ 0.,  0.,  1.],
           [ 1.,  0.,  0.],
           [ 0.,  1.,  0.],
           [ 1.,  0.,  0.]])

I saw the issue documenting a similar challenge with [sklearn pipelines](https://github.com/scikit-learn/scikit-learn/issues/3956). Is there a way to do this?

[2016-01-08 21:23] bmweiner commented on #50
My workaround for single column until OneHotEncoder is updated to accept categorical:

            return y.reshape(-1,1)

            ('color', [sklearn.preprocessing.LabelEncoder(),
            sklearn.preprocessing.FunctionTransformer(make_2d),
            sklearn.preprocessing.OneHotEncoder()])])
    array([[ 0.,  1.,  0.],
           [ 0.,  0.,  1.],
           [ 1.,  0.,  0.],
           [ 0

[2016-01-09 18:54] dukebody commented on #50
I don't think there is an easy obvious way to fix this in `sklearn-pandas`. I believe this is something that is wrong with the `scikit-learn` API, where some transformers accept and output 2-d arrays while some others expect 1-d arrays and return either 1-d arrays or 2-d. This has to be clarified.

Also, as you comment `OneHotEncoder` should be adapted accept non-integer inputs as well, to avoid t

[2016-01-09 18:54] #50 closed

[2016-01-09 19:05] bmweiner commented on #50
Thanks @dukebody.

[2016-01-09 19:39] dukebody commented on #49
According to my research, `_name_estimators` is present in `scikit-learn>=0.15.0`.

[2016-01-10 20:05] bmweiner opened #51 "Object Data Type with Sparse Matrix"
Per #37, `scipy.sparse.hstack` is called whenver a sparse matrix is in *extracted*. However, `scipy.sparse.hstack` cannot upcast dtype=object, so even if sparse=False for the mapper object, the hstack will fail whenver a np.ndarray of dtype=object is involved.

Passing example, note upcasts int64/float64 to float64.

    In [432]:

    df = pd.DataFrame({'int':[1,2,3],
                       'flt'

[2016-01-10 20:21] bmweiner commented on #51
Submitted pull request #52.

With the modified code, a sparse of int64 and dense of object combines to dense correctly:

    In [21]:

    df = pd.DataFrame({'int':[1,2,3],
                       'flt':[2.,3,4],
                       'obj':['r','w','b']})
    mapper = sklearn_pandas.DataFrameMapper([
            (['int'],[sklearn.preprocessing.OneHotEncoder()]),
            ('obj', None)])
    ma

[2016-01-16 10:42] dukebody opened #53 "CalibrateClassifierCV doesn't work with DataFrameMapper in a pipeline"
From https://github.com/paulgb/sklearn-pandas/issues/11: Unfortunately the function CalibrateClassifierCV introduced in sklearn 0.16 does not seem work with DataFrameMappers in a pipeline (this is still the case in sklearn 0.17).

[2016-01-16 10:43] dukebody commented on #11
@Balandat I'm closing this issue since it's already fixed. I've opened https://github.com/paulgb/sklearn-pandas/issues/53 to follow up on the issue you comment.

[2016-01-16 10:43] dukebody commented on #53
@Balandat can you provide a failing example? Thanks.

[2016-03-06 12:32] #11 closed

[2016-03-06 13:14] #49 closed

[2016-03-06 13:14] dukebody commented on #49
Finally I opted for simply updating `scikit-learn` requirements in the package `setup.py`.

[2016-03-10 02:20] lizsz opened #55 "Is there a way to passtrough columns without explicitely marking them?"
I.e. let's say the data frame has 200 columns (or 2000 :) )
I need to transform a small fraction of these, let's say 20 or 50. I would need to add all columns to a mapper and mark them as none for them to stay in a game. Whereas I think the opposite behavior is more intuitive and more in line with a general philosophy of scikit... (and are more useful in my opinion). In this scenario all columns b

[2016-03-10 08:48] dukebody commented on #55
You can always script that. Something along:

[code]

I agree we can have a `non_present='passthrough'` attribute for the `DataFrameMapper` to pass all columns not explicitly named in the mapper untouched. But I wouldn't make it default since it would probably break current code using `sklearn-pandas`.

[2016-03-10 09:07] lizsz commented on #55
Just to have a default transformer attached to the mapper would probably be sufficient (and elegant, I think). Having two available ones, PassThroughTransformer, and DropFeatureTransformer would solve it for any case. It would also have a benefit of a possibility to add a default transformer - for example, for SVM a scaler is usually needed. So instead of attaching it to every column, it can be ad

[2016-03-10 11:17] dukebody commented on #55
Your proposal of a default transformer sounds interesting! :) I will think about it.

[2016-03-20 17:17] dukebody commented on #55
I'm hesitant about what's the best way to implement this. There are some cases where what should happen isn't clear to me. For example, if we have a default transformer and a column appears in a list of features?

DataFrameMapper([(['A', 'B', 'C'], MyTransformer())], default=AnotherTransformer())

Should AnotherTransformer be applied only to columns other than A, B, C?

Another question: Should th

[2016-03-20 17:32] lizsz commented on #55
I would say that if user has specified a transformer, than it should be applied. If user wants AnotherTransformer to be applied as well it can be explicitly chained. I see defaultTransformer as a way to apply it to a large number of columns without the need to specify each one. If the user has a limited number of columns that require some special handling (no transformer at all, for example), or s

[2016-03-20 19:59] dukebody commented on #55
Hey @lizsz I drafted an implementation in the PR above. Could you check it and tell me what you think? Thanks!

[2016-03-20 20:07] lizsz commented on #55
it looks good.

[2016-04-03 15:00] #55 closed

[2016-05-08 11:30] CodeKiller48 commented on #17
How's going on this issue? Do you have a solution to fix the following problem?
mapper = DataFrameMapper([
    ('COLUMN', [sklearn.preprocessing.LabelEncoder(), sklearn.preprocessing.OneHotEncoder()]),
])

[2016-05-08 11:38] dukebody commented on #17
It's already fixed, see the merged PR.

[2016-05-10 01:06] CodeKiller48 commented on #17
Thanks for the response. would you mind forwarding me the link or giving me an example on the usage ?
Really appreciate your help.

[2016-05-10 06:22] dukebody commented on #17
@CodeKiller48 Read The Fine Manual: https://github.com/paulgb/sklearn-pandas/blob/master/README.rst#multiple-transformers-for-the-same-column

[2016-07-08 02:55] vzaretsk opened #58 "DataFrameMapper fit doesn't take y argument"
Currently DataFrameMapper fit method doesn't take a y argument. I have a use case that needs this (I'm doing supervised dimensionality reduction) and made a small modification to enable this functionality. If there is interest, I can submit a pull request with these changes. Additionally, it seems that this would eliminate the need for a custom Pipeline class.

[2016-07-09 09:28] dukebody commented on #58
Hi @vzaretsk . There has been some discussion regarding this feature already: https://github.com/paulgb/sklearn-pandas/pull/54

I feel I may be behaving a bit too defensive here. I believe this could be a good feature to have as long as:

- Existing code works unchanged. Deprecation plans are acceptable.
- The `DataFramaMapper` class doesn't get too complex with a lot larger surface for bugs.

Ple

[2016-07-10 00:25] vzaretsk commented on #58
My use case is for the shelter animal outcomes Kaggle competition. Rather than creating over 100 dummy variables for the various cat and dog breeds, I replaced each breed by the average outcome per breed. The y (outcome) information is used during fit to find this average outcome for each breed in the CV fold. Other use cases could be supervised clustering or using LDA to find the direction that b

[2016-07-31 20:10] hshteingart opened #60 "FunctionTransformer gets as input a numpy array rather than a series"
If one want to use Series function on the input, one needs to transform the input back to pandas Series rather than just receiving it as pandas Series.
For example, say you would like a OneHotEncoding on the hour of a timestamp column. One would now need to do the following:

[code]

Which is cumbursome.
If the dtype and Series object would have been kept it would be much shorter.

[2016-07-31 20:51] hshteingart opened #61 "GridSearch - how to access internal parameters"
How can I access the Mapper's internal parameters e.g. number of bits for a FeatureHasher?

[2016-08-03 13:25] dukebody commented on #61
First of all, sorry for not getting back to you sooner.

What you ask for is not possible right now, but would be a *very* interesting addition. I will review your related PR to see if we can introduce this implementation change without breaking existing pipelines.

[2016-08-03 13:54] dukebody commented on #58
Resolved by #59 . Thanks a lot @vzaretsk !!!

[2016-08-03 13:54] #58 closed

[2016-08-04 16:31] dukebody commented on #61
While changing the whole DataFrameMapper to use FeatureUnion allows to set transformers internal parameters and has the benefit of being able to run in parallel, I wonder if we cannot do the same:

 * Implementing `set_params`.
 * Using joblib's `Parallel` in our own loops.

This is because I feel we might be losing a great deal of control if we delegate all the work to `FeatureUnion`; for example

[2016-08-04 16:31] dukebody commented on #61
See https://github.com/paulgb/sklearn-pandas/tree/feature_union_pipe

[2016-08-05 08:51] chanansh commented on #61
Hi,

This is my first contribution to a GitHub public project, so I am excited :-)

I find that `FeatureUnion` is superior because everything is in terms of Scikit-Learn native object which reduces friction. Adding the "output feature naming" is possible with an additional `PostNameTransformer` which will just name the columns according to the original column name.  If you feel this breaks the Dat

[2016-08-24 03:59] DataTerminatorX commented on #61
I agree with what @chanansh said.  I think the function of **output feature naming** will be very useful for feature selection and feature union.

As far as I know, `pandas.get_dummies()` can automatically generate feature names by setting parameter `prefix`, also `sklearn.feature_extraction.DictVectorizer()` has the method of `get_feature_names()`. Maybe we can borrow idea from them?

However, fe

[2016-08-24 04:12] DataTerminatorX opened #63 "How to deal with OneHotEncoder() in pipeline?"
I find a bug when I use `sklearn_pandas.DataFrameMapper`. I've already read the source code of `DataFrameMapper` while fail to fix it. Could someone help with it?

Firstly, I get a categorical variable as below
[code]

When I implement transformer `LabelBinarizer()` through `DataFrameMapper`, I got what I expect
[code]

However, when I use cascaded transformer `LabelEncoder()` and `OneHotEncoder()

[2016-08-25 12:55] dukebody commented on #60
sklearn-pandas passes a numpy array to sklearn transformers because this is what most transformers (if not all) expect. The fact that some of them can work with pandas dataframes or series is just because the pandas interface mimics the numpy array one.

Therefore I believe it's better if listed transformers always receive a numpy array. What do you think?

In the example you provide, I believe a

[2016-08-25 14:13] dukebody commented on #63
Thanks for the report.

This is a long standing issue with scikit-learn and transformers APIs. `LabelEncoder` was designed to be used only with 1-d array class labels, and `OneHotEncoder` with 2-d arrays, but the fact that `OneHotEncoder` only accepts integer valued inputs forced many people to chain both of them. See for example https://github.com/scikit-learn/scikit-learn/issues/4920

To make th

[2016-08-25 14:13] #63 closed

[2016-08-25 14:50] dukebody commented on #61
@chanansh you're right that it is better to reuse existing proven and maintained code instead of replicating the same feature whenever possible. It's just that I'm afraid of breaking something that is working for current users. However if we make a 2.0 release this should not be an issue; people can always continue using the 1.x branch if needed.

Probably the output feature tracking can be implem

[2016-08-27 15:39] dukebody commented on #61
Could you please review my PR and tell me what you think?

[2016-09-02 12:44] hshteingart commented on #61
Sure, I will be happy to help doing the 2.0 version if you want to collaborate together.

From: Israel Saeta Pérez [mailto:notifications@github.com]
Sent: יום ה 25 אוגוסט 2016 17:51
To: paulgb/sklearn-pandas <sklearn-pandas@noreply.github.com>
Cc: Hanan Shteingart <hshteingart@sageaxcess.com>; Author <author@noreply.github.com>
Subject: Re: [paulgb/sklearn-pandas] GridSearch - how to access intern

[2016-09-03 06:41] dukebody commented on #61
Awesome! So can you review https://github.com/paulgb/sklearn-pandas/pull/64 please, @chanansh ?

[2016-09-03 06:41] dukebody commented on #61
cc @hshteingart

[2016-09-03 06:50] chanansh commented on #61
I feel that if we move to feature union we should actually PR scikit learn
so much larger community can enjoy it. What do you say?

On Sep 3, 2016 9:41 AM, "Israel Saeta Pérez" <notifications@github.com>
wrote:

[2016-09-03 07:06] dukebody commented on #61
AFAIK `sklearn` itself has no pandas dependencies and I believe they want to keep it that way for now. But feel free to ask in their issue tracker.

[2016-09-03 09:03] chanansh commented on #61
Asked here: https://github.com/scikit-learn/scikit-learn/issues/7334

[2016-09-07 15:38] Motorrat commented on #13
I know there is work done on this issue so just wanted to vote for it. Here is an example of a boilerplate that could be used for many classification jobs driven from a database table. It would be very handy to be able to track back what features (columns) made it to the final set.

[code]

Via clf_pipeline.named_steps['feature_selection'].get_support() we can see what was selected via KBest, but

[2016-09-09 00:39] joshmorel opened #65 "pip using deprecated-cv branch instead of master"
Hi,

It seems that pip is using deprecated-cv branch instead of master branch.

I noticed this after getting an error when running this code as per README.

[code]

Not sure if this is intended, or...?

[2016-09-09 15:00] pfennema opened #66 "DataFrameMapper does not have default parameter in master branch"
When trying to use sklearn-pandas (first via pip install) and then via git clone, I get an error when there is a default=None in the DataFrameMapper constructor:
    TypeError: __init__() got an unexpected keyword argument 'default'

When using the branch 'default_transformer' this works, but this branch is  8 commits behind. Can the branch be merged?

Thanks, Paul

[2016-09-09 15:24] pfennema commented on #66
Apparently the setup was messed up, now it works. Sorry for the confusion.

[2016-09-09 15:24] #66 closed

[2016-09-15 01:16] Motorrat commented on #13
[code]

[2016-10-02 11:31] dukebody commented on #65
We've just made a release today: https://pypi.python.org/pypi?:action=display&name=sklearn-pandas&version=1.2.0

Sorry for the delay.

[2016-10-02 11:31] #65 closed

[2016-10-25 23:43] joshmorel opened #67 "StandardScaler in DataFrameMapper throws DeprecationWarning (scikit-learn >= 0.17.0)"
When using StandardScaler() in DataFrameMapper I get a DeprecationWarning when passing the column name as a string . I am warned of a ValueError in scikit-learn 0.19 although, I'm not yet getting this. Passing the name as a list avoids the issue, but I think this need should be hidden from the user.

I can fix this myself in a fork but am kind of new to making pull requests so I want to post this

[2016-11-05 11:57] dukebody commented on #67
Thanks taking the time to report this!

This issue is related to scikit-learn reworking the transformers interface. All arrays passed to "data" transformers (as opposed to "label" transformers like `LabelEncoder`) must be 2-d: Rows are considered examples/instances and columns are features. Previously, if a 1-d array was passed, it was not clear if it was one example with several features or one f

[2016-11-06 13:10] joshmorel commented on #67
That's good. You can close this. Looking forward to the OneHotEncoder upgrade in scikit-learn!

[2016-12-11 11:54] lefant opened #68 "functionality from sklearn cross_validation module moved to model_selection in 0.18"
hi,

importing sklearn_pandas i get the following warning:

[code]

this is because they moved some functions from cross_validation to the new model_selection module. read more here:
http://scikit-learn.org/stable/whats_new.html#version-0-18

best regards,
Fabian

[2016-12-12 14:33] dukebody commented on #68
Thanks! I will update the code to try to import from the new module.

If you can do this yourself and submit a PR, it would be much welcomed. :)  Keep in mind we need to keep compatibility with sklearn versions less than 0.18

[2017-01-06 20:11] mattayes opened #69 "Feature Request: PandasFeatureUnion"
Hi folks:

An issue I have with scikit-learn's [`FeatureUnion`](http://scikit-learn.org/stable/modules/generated/sklearn.pipeline.FeatureUnion.html) is that you can't make it return a `DataFrame` (unlike with regular transformers). It would be nice to see a variant of `FeatureUnion` that worked nicely with Pandas workflows.

Here's a prototype of what I'm thinking:
[code]

You could imagine using

[2017-01-10 03:25] jph00 commented on #60
Do any transformers definitely not work with series? Because I came here to request the same thing - I actually created a little custom transformer for dates:

[code]

...but it doesn't work for this reason. Creating extra columns seems unnecessarily cumbersome and memory intensive. Not a big deal I know, but just wanted to check this really isn't possible.

[2017-01-10 09:08] dukebody commented on #60
@jph00 current version of sklearn-pandas converts selected columns to a numpy array before passing them to the transformers, so any transformers that need the input to be a Series or DataFrame won't work.

However I believe you can extract year, month and day from the numpy array using some of the solutions described at http://stackoverflow.com/q/13648774/356729

Perhaps we can add some attribute

[2017-01-10 18:31] jph00 commented on #60
That sounds like a good idea.

[2017-01-10 18:36] jph00 opened #70 "Name columns"
It would be nice to have a way to specify the names of columns that are created by a transform, such that later on you could pass mapper.names (or similar) to any functions that expect a list of column names (eg variable importance) or for use in any charts where you would want to label the columns with their names.

This could default to the name of the pandas column that created it (if there's o

[2017-01-14 18:54] dukebody commented on #70
I like this. We can make the `DataFrameMapper` optionally return a pandas dataframe with the naming conventions you mention. This way you could easily get the column names, and also perform slicing and dicing on the output easily.

Do you believe this is something you could implement? I can help reviewing the PR.

[2017-01-14 18:59] dukebody commented on #70
You can find some code I created to keep track of how many output columns did a feature get expanded to here: https://github.com/paulgb/sklearn-pandas/pull/56/files

There is some discussion regarding that also in https://github.com/paulgb/sklearn-pandas/pull/54

[2017-01-14 19:04] dukebody commented on #69
Hi @mattayes . The example you link does mainly the same thing as a `DataFrameMapper`. However you're right that `DataFrameMapper` doesn't return a pandas dataframe either. Is this what you would want?

If so, I believe you can join forces with @jph00 working at #70

[2017-01-14 19:10] #67 closed

[2017-01-14 20:05] dukebody commented on #68
@lefant See the PR. Looks good?

[2017-01-15 00:49] jph00 commented on #70
OK here's a PR for the functionality. Let me know if you want me to make any changes, or feel free to edit it however you like.

[2017-01-16 18:26] dukebody commented on #68
Closed via #71.

[2017-01-16 18:26] #68 closed

[2017-01-16 18:48] dukebody commented on #70
@jph00 Brilliant! Good implementation and tests. :)  I just rebased and added some documentation at #73. Will merge as soon as you give your OK.

[2017-01-17 00:08] jph00 commented on #70
Great! Go right ahead - and thanks.

[2017-01-17 08:14] dukebody commented on #70
A pleasure. :) Closing as I understand this feature is included in the fact that pandas dataframes have named columns.

[2017-01-17 11:06] arnau126 commented on #70
I have a custom Transformer, where `classes_` is the unique values of the fitting data. My transformer doesn't alter the number of columns of the data to transform (unlike LabelBinarizer which from 1 column generates many, for example).

In this case I think that the following lines will break the transforming:
[code]
Because the number of classes is not equals to the number of columns.

Might I b

[2017-01-17 12:03] dukebody commented on #70
@arnau126 The code to generate the column names is just inferring them because some sklearn transformers use this internal attribute as the unique class names, and generate `len(classes_)` names.

I believe the best solution here is to check that the number of columns of the transformer output is equal to `len(classes_)` and, if not, don't use the inferred naming.

@arnau126 do you believe you can

[2017-01-20 10:55] arnau126 commented on #70
#74

[2017-01-21 07:46] Yevgnen opened #75 "Analogy function to pandas.get_dummies?"
Hi, thanks for the great library.

I deal with the string categorical values quite often and usually want to transform them into one-hot-encoding. To do so, one may use

1.  `pandas.get_dummies`
2. `sklearn.feature_extraction.DictVectorizer`
3. `sklearn.preprocessing.LabelBinarizer` followed by sklearn.preprocessing.OneHotEncoder

We can see that 1. is useful when one wants to generate the columns

[2017-01-21 08:10] Yevgnen commented on #75
I think a mapper with `sklearn.preprocessing.LabelBinarizer` and `df_out=True` is already the solution that handle columns and unseen value. Sorry for disturbing.

[2017-01-21 08:10] #75 closed

[2017-01-21 08:42] dukebody commented on #75
No worries! Thanks for contributing with your comments. :)

[2017-01-21 12:34] MSardelich opened #76 "DeprecationWarning with sklearn.GridSearchCV"
When using the library together with ```sklearn.GridSearchCV``` I am getting the deprecation warning below:

```/home/marcelo/.local/lib/python2.7/site-packages/sklearn/base.py:122: DeprecationWarning: Estimator DataFrameMapper modifies parameters in __init__. This behavior is deprecated as of 0.18 and support for this behavior will be removed in 0.20. % type(estimator).__name__, DeprecationWarnin

[2017-01-21 21:09] arunpersaud opened #77 "tar-ball on pypi"
Hello

is it possible to upload a tar-ball to pypi? This would help people to package the module for linux distributions. Opensuse, for example, currently tries to use the pypi tar-ball, but for 1.3 none is available.

thanks

Arun

[2017-01-22 17:04] dukebody commented on #77
Done! Thanks for the heads-up. :)

[2017-01-22 17:04] #77 closed

[2017-01-22 17:16] dukebody commented on #76
Hi @MSardelich! Thanks for the heads up. I'd have to investigate why does this happen, and how to fix it.

Do you have time to do this yourself and submit a PR to fix it? Hints:
- https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/base.py#L111,
- https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/tests/test_base.py#L168

[2017-01-23 04:52] mattayes commented on #69
Hey @dukebody, having that as a part of sklearn-pandas is great and I'm glad it's been merged in! However, the thing I'm really looking for is a way to create a feature using `DataFrameMapper` that uses more than one column. For example, combining `year`, `month`, and `day` columns into a `created_at` column. Right now `DataFrameMapper` only handles applying transformers to a single column, correc

[2017-01-23 10:06] MSardelich commented on #76
Hi @dukebody! Thanks for the prompt response.

I see ```sklearn-pandas``` works in a way that modifies ```sklearn``` constructor parameters.
That said, I could spot the same lines that raise the exception in the ```sklearn``` library. However, I don't think it is a behavior they want to change their side. Firstly, because it is a relatively new exception and probably was implemented on purpose. Se

[2017-01-28 13:26] dukebody commented on #76
From a brief read I understand this requirement is for the cloning happening in the cross-validation to work easily. You are right, we need to modify the way sklearn-pandas work for it to be compatible with `sklearn>=0.20`. Are you interested in contributing code to fix this?

[2017-01-28 22:05] MSardelich commented on #76
@dukebody Unfortunately I don't feel confident enough to propose these structural changes. It seems to be relatively complex to change the way ```skleran-pandas``` behaves. Is Paul still contributing actively to the project? What about going straight to the ```sklearn``` community and asking them to allow the constructor behavior?

[2017-01-29 08:58] dukebody commented on #76
Paul is not actively contributing to the `sklearn-pandas` project anymore. I'll investigate which changes are needed and ping the `sklearn` devs if neccessary.

[2017-01-29 09:02] dukebody commented on #76
Refs:
- https://github.com/scikit-learn/scikit-learn/issues/5522
- https://github.com/scikit-learn/scikit-learn/pull/5540

[2017-01-31 08:55] dcbb commented on #70
I came across this discussion looking for column names to interpret feature importance of a classifier.

Am I correct to assume that using the dataframe output is currently the only way to get the column names?

For what I want to do I'm actually quite happy with matrix output, but I still need the column names. (I'm using a bunch of LabelBinarizers – this is the reason why feature importance is h

[2017-01-31 10:19] dukebody commented on #70
We can for sure find a way to generate and output the names without outputting a dataframe, yes. Do you think this is something you can contribute?

[2017-01-31 20:45] dcbb commented on #70
Yes, I started looking at the naming function anyway. I'll give it a try, but it may take a little due to my workload.

[2017-02-01 08:16] dukebody commented on #70
No hurries, let me know if I can help with pointers about how to do the testing or whatever.

[2017-02-01 08:18] dukebody opened #78 "Name columns without outputting a dataframe"
In https://github.com/paulgb/sklearn-pandas/issues/73 we added the possibility of outputting a dataframe with named columns to implement https://github.com/paulgb/sklearn-pandas/issues/70

However in some cases one would want to get the "columns" names and still get an ndarray as output, for performance reasons.

This shouldn't be hard to do. Names can be stored in a `names` attribute in the dataf

[2017-02-01 08:19] dukebody commented on #70
Let's continue talking about this in https://github.com/paulgb/sklearn-pandas/issues/78

[2017-02-01 08:19] #70 closed

[2017-02-04 14:16] dukebody commented on #69
Sorry for the long delay.

You can apply transformers to a single column using a `DataFrameMapper`, see https://github.com/paulgb/sklearn-pandas#transform-multiple-columns. Is this what you want?

[2017-02-06 05:44] mattayes commented on #69
Yes, that is what I want! Sorry for making you point it out in the docs, I guess I missed it 😔. I see that #70 is merged. Is there anything else I could help on?

[2017-02-07 13:49] MaxNoe opened #80 "DeprecationWarning for cross_validation"
In addition to #76, also the `sklearn.cross_validation` package got deprecated:

[code]

[2017-02-07 14:07] dukebody commented on #80
This was already addressed in https://github.com/paulgb/sklearn-pandas/issues/68. Can you confirm you get this warning when using sklearn-pandas 1.3.0 and skelarn 0.18?

[2017-02-16 19:09] rwillard commented on #80
I can confirm that's still an issue for me. ```/usr/local/lib/python3.4/dist-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be remo

[2017-02-19 14:59] mratsim opened #81 "DataFrameMapper with df_out should preserve categorical data"
DataFrameMapper transformation removes the "category" dtype from dataframe columns

Categorical status can be checked with:
hasattr(df['categorical_column'], 'cat')

Some classifiers like LightGBM can auto detect categorical data from dataframes and handle them very efficiently without OneHotEncoding.

[2017-03-03 03:34] Yevgnen commented on #41
Can sklearn-pands inverse_transform the transformed data right now ?

[2017-03-03 10:49] dukebody commented on #41
No, it can't right now.

[2017-03-04 14:51] dukebody commented on #69
Check any of the issues listed in https://github.com/paulgb/sklearn-pandas/issues and see if you can help with any of them. Thanks!

[2017-03-04 14:51] #69 closed

[2017-03-04 15:03] dukebody commented on #80
I can't reproduce this issue.

Here is what I've tried, and I can't see any deprecation warning after importing sklearn_pandas:

[code]
Can you try this in your computer and tell me if you still get the deprecation warning?

FTR, a `pip freeze` in that env gives me:
[code]

[2017-04-05 05:12] ragrawal opened #83 "Allow to provide custom column name for transformed feature"
I have a datetime values in a column, "submitted_at", and I am trying to construct two features out of it, namely: day of week and hour of day. However the output dataframe contains "submitted_at" twice. Once for day of week feature and another for hour of day feature.

[2017-04-08 14:53] dukebody commented on #83
Hi @ragrawal . Can you post the code you are using? You can always change afterwards the name of the output columns to the ones you want.

[2017-04-08 15:31] dukebody commented on #83
Thanks for the contribution! I merged a branch that includes your commit with some tests+docs. See https://github.com/paulgb/sklearn-pandas/commit/2fc6286e2d602a1e1b7d0eab7c256f006eca58ac

[2017-04-08 15:31] dukebody commented on #78
Fixed in https://github.com/paulgb/sklearn-pandas/commit/2fc6286e2d602a1e1b7d0eab7c256f006eca58ac (#83). Thanks @ragrawal !

[2017-04-08 15:31] #78 closed

[2017-04-08 15:44] dukebody commented on #83
Sorry, didn't really read the title of the issue. What do you think about an API like:

[code]

Meaning that the result of applying `Transformer1` to the column `target` should be placed in a column with name `transformed_target_1`, and equivalent for the second one?

This is probably quite easy to do by passing the chosen names to the `get_names` method, if present.

[2017-04-09 15:08] dukebody commented on #13
Good news! This functionality was addressed in https://github.com/paulgb/sklearn-pandas/commit/2fc6286e2d602a1e1b7d0eab7c256f006eca58ac

[2017-04-09 15:08] #13 closed

[2017-04-10 08:13] arnau126 opened #86 "Bug in a CategorialImputer test."
CategorialImputer tests are not actually testing the feature when `input_type is 'np'` and `none_value is np.nan`.

This is because of the use of `np.asarray`. This function infers the data type and in this case it is casting the np.nan to string.

In explanation:
[code]

So, in this case, there is no null-like value and the imputer is doing nothing.

[2017-04-10 08:15] dukebody commented on #86
Thanks @arnau126 ! Can you submit a PR to fix this?

[2017-04-10 10:02] dukebody commented on #86
If you have any other improvements to the `CategoricalImputer` in mind (you probably do) please chime in on that as well.

[2017-04-10 10:11] arnau126 commented on #86
Yes, I do :)
PR: #87

[2017-04-12 08:31] akrishnamo opened #88 "df_out does not work when default = None"
I am using the 'data' example to get a dataframe out after transformation. In the snippet below, I want to retain the 'pet' column as is.

mapper = DataFrameMapper([
('salary', sklearn.preprocessing.LabelBinarizer()),
(['children'], sklearn.preprocessing.StandardScaler())
], default=None, df_out=True)

x=mapper.fit_transform(data)
x

The above code errors out and fails to return a dataframe. Howev

[2017-04-17 09:01] dukebody commented on #88
Thanks for reporting this issue!

Can you check if you get the same error with the last master version? We recently merged a patch that might resolve that, see https://github.com/paulgb/sklearn-pandas/pull/84/files#diff-6fb3dd1c396d83f0d0b3ff4c43e5d297R211

To install the master version:
`pip install -U git+https://github.com/paulgb/sklearn-pandas.git`

[2017-04-17 09:55] dukebody commented on #60
Fixed in #85. Please reopen if it doesn't fit your use-case or see any bugs.

[2017-04-17 10:21] dukebody opened #90 "Add contribution guidelines"
https://github.com/blog/1184-contributing-guidelines

* How to download and install a development copy
* How to run tests and flake8

[2017-04-21 16:46] ragrawal commented on #83
submitted a pull request related to this: https://github.com/paulgb/sklearn-pandas/pull/91

[2017-05-04 22:47] mdlynch37 opened #93 "PyPI version out-of-date and mislabelled as v1.3.0"
Not sure if this issue belongs here, but....

Version that installs through pip command is listed as 1.3.0, different from current of GitHub 1.1.0
https://pypi.python.org/pypi/sklearn-pandas

Also, that PyPI version is missing the ```input_df``` argument, so I'm guessing it needs to be updated.

[2017-05-05 13:06] acourdavault commented on #76
Hello i just wonder If this can be fixed, or there would be a usage workaround maybe?

thanks

[2017-05-09 17:06] dreyco676 opened #94 "DataFrameMapper has no arg 'input_df'"
Not sure if the documentation is old but I can't seem to use the `input_df` argument.

`mapper_df = DataFrameMapper([('TextColumn', CountVectorizer(min_df=4))], input_df=True, df_out=True)`

[2017-05-09 17:17] dreyco676 opened #95 "Add to documentation: Preserve Index of Input DataFrame"
For my workflow I need to retain the index for joining data back. It looks like this can be done as long as your index is the same numeric type as the rest of the columns you are transforming.

Create the index as a column and set the type
`df['index'] = df.index.astype('int64')`

Create the mapper with no transformations to the 'index' column
`mapper = DataFrameMapper([('text_col', CountVectorize

[2017-05-10 15:20] keithgw commented on #94
same sklearn-pandas==1.3.0

[2017-05-13 13:50] dukebody commented on #93
Hi @mdlynch37 ! We have just released sklearn-pandas 1.4.0 to PYPI: https://pypi.python.org/pypi/sklearn-pandas

Can you check if this solves your issues?

[2017-05-13 13:52] dukebody commented on #94
Sorry, `input_df` is a feature that was not released yet. A new version of `sklearn-pandas` including this feature has been released today: https://pypi.python.org/pypi/sklearn-pandas

If you still have issues, please reopen this ticket.

[2017-05-13 13:52] #94 closed

[2017-05-13 13:55] dukebody commented on #95
Hmm, it would be much better if `sklearn-pandas` preserved the index automatically when using `df_out=True`, right? Shouldn't be very hard to do. Would you be willing to create a PR implementing this feature?

[2017-05-13 13:55] dukebody commented on #88
Closing due to lack of activity.

[2017-05-13 13:55] #88 closed

[2017-05-13 13:56] dukebody commented on #86
Fixed in #87.

[2017-05-13 13:56] #86 closed

[2017-05-13 14:04] dukebody commented on #80
Closing due to lack of feedback. Please reopen if you still experience this issue.

[2017-05-13 14:47] dukebody commented on #76
It could be fixed, but requires a change in how skearn-pandas internally works. The dataframe mapper modifies the constructor parameters in the `__init__` method to create a pipeline, which is what the warning is complaining about apparently.

However checking the code around https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/base.py#L111 it looks like the scikit-learn `clone` functi

[2017-05-15 16:16] paubelsan opened #96 "LabelEncoder + Imputer + LabelBinarizer error"
Hi,

I'm having an error while using a LabelEncoder + Imputer + LabelBinarizer in a mapper, as a LabelEncoder output is a vector of (n_samples,) so Imputer, that calls sklearn function check_array, that calls numpy funciont atleast_2d, transforms it to (1,n_samples), so LabelBinarizer crashes:

`ValueError: Multioutput target data is not supported with label binarization`

How can I fix this issue

[2017-05-15 21:56] wpm commented on #76
It looks like the issue here lies with the semantics of the `__init__` parameters of a sklearn Estimator. Sklearn wants these to be unchanged by the constructor under the assumption that they might be things we want to set with `set_params`. But the `features` argument of `DataFrameMapper` isn't something that `set_params` will modify.

`DataFrameMapper` isn't really fully built until `_build_feat

[2017-06-08 21:33] ragrawal opened #97 "how can I use a generated feature in another feature"
Hi,

Is there a way to use a derived feature in another transformer. For instance I need something like this

DataFrameMapper([
    ('start_timestamp', toDateStringTransformer(), {'alias': 'datestr'}),
    (['field1', 'datestr'], FeatureGenerator(), {'input_df': True}),
])

Above I am first converting a start_timestamp to detester and then generating some additional features based on field1 and de

[2017-06-10 16:43] dukebody commented on #93
Closing due to lack of follow-up. Please reopen if the issue still persists.

[2017-06-10 16:43] #93 closed

[2017-06-10 16:44] dukebody commented on #76
@wpm could you submit a PR to fix this issue?

[2017-06-10 16:53] dukebody commented on #96
My recommendation here is to create a subclass of `LabelEncoder` that transforms the output to a 2-d vector `(n_samples, 1)` in the proper conditions so all transformers are of the same type and compatible.

If you come up with that implementation please post it here in a PR as it is suitable to be included with sklearn-pandas.

[2017-06-10 16:58] dukebody commented on #97
Right now this is not possible with one `DataFrameMapper`, and I think it would make the whole thing much more complex.

What you can probably do is chain two `DataFrameMapper`s. Something like:

[code]

Does this make sense?

[2017-06-10 17:00] dukebody commented on #83
Fixed in #92.

[2017-06-10 17:00] #83 closed

[2017-06-13 17:08] ragrawal commented on #97
Yup. that make sense.

[2017-06-13 19:41] #97 closed

[2017-06-13 19:48] ragrawal opened #103 "Tracking features versus informational data"
Sometimes you want to apply some transformations to generate new columns but you don't want to use that as a feature while training your data. For instance if you have a timestamp and for debug purpose you convert it to date in %Y-%m-%d format. However you don't want to use it as a feature. Currently I have to maintain a list of columns separately that I would like to use as a feature. It will be

[2017-06-14 18:23] dukebody commented on #103
Hrm why don't you define two mappers, one you use to generate only the predictor variables, and another one to generate all features you want? Another option would be to have two separate mappers, one for the prediction features and another one for the informative ones, and merge the two output dataframes whenever you need it for a final result.

[2017-06-14 18:51] #90 closed

[2017-06-15 01:21] ragrawal commented on #103
I agree that you can join them later on but I feel that way there is always some uncertainty as the join will be based on index. My biggest concern is what if the index has changed for reason. Hence I feel much more comfortable keeping my features and informational elements always together. I guess one great improvement will be to have a metadata dictionary that can be defined in the options and w

[2017-06-16 07:09] drorata opened #104 "Output column names when using multiple columns"
For reference, I use the following imports:

[code]

Next, I consider the following example:

[code]

I want to apply `OneHotEncoder()` to the columns `weekday1` and `weekday2`. In addition, I want to scale the columns `val1` and `val2`. To that end, I use the following `DataFrameMapper`:

[code]

However, the columns of the resulting table are very confusing:

[code]

I was expecting something li

[2017-06-16 07:15] drorata commented on #104
A workaround, I can think of, is the following:

[code]

However, this is somehow cumbersome, isn't it?

[2017-06-16 07:30] drorata commented on #104
Here's another workaround, as suggested on [SO](https://stackoverflow.com/a/24747389/671013).

[2017-06-16 11:25] drorata commented on #76
I have a similar problem, when using the decision tree classifier.

[code]

Warns:

[code]

[2017-06-21 22:43] jimmywan commented on #76
Can someone take a look at my PR #105 ?

[2017-06-23 13:58] alex1sc opened #106 "import sklearn LinearRegression failed due to sklearn-pandas installation"
I'm on ubuntu 17.04 with last anaconda release (Anaconda3-4.4.0-Linux-x86_64) and no other installed packages.
Running `from sklearn.linear_model import LinearRegression` without sklearn-pandas installation works fine. After installing sklearn-pandas `pip install --upgrade sklearn-pandas` I get the following error:

There are a few issue about libgcc on sk-learn github (https://github.com/scikit-l

[2017-06-24 11:01] alex1sc commented on #106
I created a conda env with python 3.5.3, and even if I'm not in it, it's now working with python 3.6 :)
I installed sklearn-pandas in standard env (python 3.6) and in the python 3.5 env. And it's now working in both of them.
Love anaconda ...

[2017-06-24 11:01] #106 closed

[2017-06-24 16:59] #60 closed

[2017-06-24 17:05] #76 closed

[2017-06-24 17:07] dukebody commented on #76
@jimmywan Thanks a lot for your contribution! This is a much expected feature and I didn't have the energy to work on it myself.

I commited a patch based on yours with some extra changes to deal with the `default` argument and keep compatibility with old pickled mappers.

[2017-06-24 17:14] dukebody commented on #104
Hey @drorata!

As you probably have already guessed out, the issue with the first version of your code is that `sklearn-pandas` consider each group of selected features (each line) as a single output feature. That is, the mapper sees two features: The first one is derived from the columns `val1` and `val2` and the second one from `weekday1` and `weekday2`.

If you want the names to be separated yo

[2017-06-24 17:32] drorata commented on #76
Thanks for the efforts! Is the update already available on `pip`?

[2017-06-24 17:34] dukebody commented on #76
Yesssss! sklearn-pandas 1.5.0! https://pypi.python.org/pypi/sklearn-pandas

Please try out and don't hesitate to report any bug or odd behavior!

[2017-06-24 17:35] drorata commented on #104
Thanks for the explanation. I guess this issue can be closed and kept for future reference.

[2017-06-24 17:35] #104 closed

[2017-07-04 15:08] molaxx opened #109 "Add DataFrameMapper.get_feature_names (wrapper for transformed_features_)"
As this function is sort of the de facto standard in sklearn (implemented in FeatureUnion, CountVectorizer, PolynomialFeatures, DictVectorizer) , it would reduce friction when using DataFrameMapper.

[2017-07-05 07:53] esquire900 opened #110 "Indicating which column is failing in DataFrameMapper"
Currently, when the DataFrameMapper fails, a generic error is shown that contains very little info about the place / column of the DataFrame where the error occurs, i.e.

`UnicodeEncodeError: 'ascii' codec can't encode character u'\xa0' in position 6: ordinal not in range(128)`

With further debugging information that shows the DataFrameMapper code that fails, but provides no actual useful info fo

[2017-07-07 14:03] gsmafra opened #111 "Add an option to DataFrameMapper to add missing columns"
I am currently working on a workflow where we convert database records directly to a pandas DataFrame then applying ML algorithms on it with the help of sklearn-pandas. However, sometimes we have the problem that these records don't have all the features used for prediction and I have to add those columns to the DataFrame, and for that I did a custom transformer to be applied before DataFrameMappe

[2017-07-10 08:59] rebeen commented on #80
I have the same problem yet,

C:\Python27\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This modul

[2017-07-12 10:41] arnau126 commented on #109
I think it's a good idea.

The only consideration is that `transformed_features_` is filled when `DataFrameMapper.transform` is called and it could change after every subsequent `transform` call.

While in contrast, the sklearn's `get_feature_names()` only needs the transformer to be fitted, and the features names doesn't change after a `transform` call.

[2017-07-12 11:26] arnau126 commented on #111
I might add an option to the `DataFrameMapper.__init__` called `missing_features`.

This parameter would have 2 options:
- 'raise' (default). Raise an error if some feature is missing (current behaviour).
- 'add'. Fill the missing feature with None or NaN and pass it to the transformers.

What do you think?

[2017-07-12 11:31] arnau126 commented on #110
I also think that it would be very useful!

However, looking at the code, I think that it won't be an easy task.
Give me some days to think about it. Any help or suggestion is welcomed.

[2017-07-12 12:49] gsmafra commented on #111
@arnau126 I can't think of any other options to have in the future, so we could as well make it a boolean, couldn't we? The most intuitive name would probably be `insert_missing_features`, don't know if that looks too long.

[2017-07-13 07:12] dukebody commented on #110
Arnau, I think it can be done by catching the exception and re raising it
with the columns names injected in the message.

Other possibilities are:
- catch it and raise another TransformationException. But this might break
code listening to concrete exceptions.
- logger.error the columns and raise the original exception. Problem here
is that loggers are probably not configured correctly in a noteb

[2017-07-21 12:38] devforfu opened #113 "[Question] Apply the same transformation to several features"
It is possible to apply several transformations to a single column. But is it possible to do it vice versa, i.e. like:

[code]

I know that list syntax like `['cat_first', 'cat_second']` is reserved to pass several columns into single transformer, but is it possible to somehow configure mapper to treat this syntax in a way that I've described above? Or do I need just repeat columns as separate ite

[2017-07-21 12:53] devforfu commented on #113
Or even for many to many mappings, like:
[code]

Probably one could pass transformer class instead of instance, so each column could get its own instance.

[2017-07-22 16:20] wesm opened #114 "Moving sklearn-pandas to scikit-learn-contrib"
The pandas team has been discussing how to handle pandas add on projects, and one thing that came up is that this repo might be better located in scikit-learn-contrib

https://github.com/scikit-learn-contrib/

Separately, due to the way that resourcing works with Travis CI, we likely will create more GitHub organizations as a mechanism to expand our pool of CI workers.

Any opinions from the devel

[2017-07-22 16:40] jreback commented on #114
could also move to pandas-contrib

either way is ok

[2017-07-23 09:43] dukebody commented on #114
Hi @wesm and @jreback ! I personally don't mind too much as long as @arnau126 and I keep write access and the ability to add new people with commit access to the repo.

This project is using CircleCI right now, so it probably won't use up any Travis resources in the short term.

Thanks!

[2017-07-25 03:28] scotthuang1989 opened #115 "behavior of default=None"
According to the document, if I want do transformation to some of columns in a DataFrame and keep other columns unchanged. I just need set default to None.
eg:
mapper_age_median_standalization_drop_age = DataFrameMapper([
    ('Pclass', sklearn.preprocessing.LabelBinarizer())
 ], input_df=True, df_out=True, default=None)

But the output is very strange, here is the columns name of output dataframe

[2017-07-25 05:35] scotthuang1989 commented on #115
after check the sourcecode version: 1.5.0. I found that this behavior is by design:

Here is a partial code of class: DataFrameMapper: in this 2 lines:

        elif isinstance(columns, list):
            name = '_'.join(columns)

columns is a list of name of all unused columns. they are join by _, and then following code will add number to the end of this 'name'.

so I think my question now is wh

[2017-07-25 06:10] scotthuang1989 opened #116 "sklearn-pandas don't support transfomer which will drop rows"
In my pre-processing steps, I have to drop some rows with outliers. I try to do that with a custom transformer, and get this error:

ValueError: all the input array dimensions except for the concatenation axis must match exactly

I check the code, here is what I find:
1. this a behavior by implementation.
2. sklearn-pandas will process transformer one by one in the order defined by pass in list of

[2017-07-29 08:35] dukebody commented on #109
@molaxx thanks for the suggestion, I also think it's a good idea, with the caveat that @arnau126 mentions. Can you submit a PR with the implementation and some modifications to the README to indicate the availability of the method? Thanks.

[2017-07-29 08:45] dukebody commented on #111
I believe this functionality, if implemented, would better be a component outside of the `DataFrameMapper`, to avoid overloading this class with too complex custom behaviour - it's already quite complex, with lots of options.

I see it more as a kind of "column imputer" transformer. I'm good with adding this transformer as part of the package if @arnau126 agrees as well. Then we would need a PR wi

[2017-07-29 09:00] dukebody commented on #113
Hi @devforfu! Thanks for the proposals.

The "apply this class of transformer to multiple columns" feature can be useful. Right now I believe the easiest way to do that is:

[code]

I'm not sure I like the idea of making the same syntax input to the dataframe mapper mean different things in different context, but we can perhaps use an alternative approach: use a feature definition generator.

Some

[2017-07-29 09:11] dukebody commented on #115
Thanks a lot @scotthuang1989 for the report! It is really a bug.

The problem is that when we designed the "default" feature we didn't make explicit if the default transformer would be applied to all unselected columns as a whole, or one by one. IMO it makes more sense to apply it to one by one, and that's how we should have done it. Right now it works the other way around, and that's why you get

[2017-07-29 09:24] #115 closed

[2017-07-29 09:25] dukebody commented on #115
This is fixed in the last master version. We can do a release soon this summer with other changes if necessary.

[2017-07-29 09:30] dukebody commented on #116
Hi @scotthuang1989. Can you post an excerpt of the code you are using to do the transformation? I suspect you are doing something wrong, because if you do:

[code]

the `Transformer2()` will applied to the result of applying `Transformer1()` to the `col1` of the dataframe. If you are not seeing this behaviour, like you suggest in point 3, it is clearly a bug and we should fix it.

[2017-07-29 09:32] dukebody commented on #80
@rebeen can you please post the output of your `pip freeze` and the command(s) you execute before you see this error?

[2017-07-29 13:38] franciscogmm opened #118 "inverse_transform() function?"
Hi all! just wanted to ask if it's possible to do an inverse transform function using DataFrameMapper?

I realize that the class itself does not have a function like that, but has anyone else tried doing stuff manually? Any help would be great! or even save individual classes from labelencoders?

Thanks!

[2017-07-29 16:06] scotthuang1989 commented on #116
Hi dukebody,

I do following actions:

my data is dataframe with 2 columns: col1, col2
Here is my mapper:
DataFrameMapper([
    (['col1','col2'], Tranformer1()),
    ('col2', Tranformer2())
])

Transformer1() will drop some outlier by value of 'col1'，TransFormer2 will standardize  col2.
Here is what I expect:
1. some of rows of this dataframe will be dropped.
2. Transformer2 will standardize col2

[2017-08-02 00:38] PeterDavidMulligan commented on #80
I just started python/sklearn and am getting this error. My pip freeze prints :

(C:\Users\aezur\Anaconda2) C:\Users\aezur>pip freeze
alabaster==0.7.10
anaconda-client==1.6.3
anaconda-navigator==1.6.2
anaconda-project==0.6.0
asn1crypto==0.22.0
astroid==1.4.9
astropy==1.3.2
Babel==2.4.0
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4

[2017-08-02 13:50] devforfu commented on #113
Hi @dukebody, ok, understood. Yes, the generator thing sounds good. I'll do some PoC and PR then.

[2017-08-06 16:43] molaxx commented on #109
@arnau126 this behavior seems like a bug. Why would we want the features to change after each transform? Further more, after fitting and pickling a model, the feature set used for training is lost.
I think this logic should move to DataFrameMapper.fit. What do you think?

[2017-08-10 15:44] arnau126 commented on #109
Currently it's not possible to move this logic to fit because `get_names` (the function used to build `transformed_features_`) needs the transformed columns.

And it needs them because:
    - not all transformers have `get_feature_names()` or `classes_`.
    - sometimes `classes_` doesn't contain the feature names.

https://github.com/pandas-dev/sklearn-pandas/blob/master/sklearn_pandas/dataframe_

[2017-08-10 15:59] arnau126 commented on #116
Correct.

You might take a look at sklearn's `Pipeline`.
http://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html

Using this objects you code would look like:
[code]

I think that you will get what you want

[2017-08-13 21:24] molaxx commented on #109
Couldn't this be handled by transforming a single row after the fitting? It's a bit hacky, but not having feature names after a fit is a bit surprising. I like boring API's :)
Plus, I'll probably end up doing this manually so the features names would be available right after unpickling the model.

[2017-08-18 15:41] jorisvandenbossche commented on #114
For this specific project, IMO it seems more appropriate to host it in scikit-learn-contrib (you should have write access there as well). But I am not sure about the process to get added there.

[2017-08-18 15:43] jorisvandenbossche commented on #114
Information about requirements/workflow are here: https://github.com/scikit-learn-contrib/scikit-learn-contrib/blob/master/workflow.md

[2017-08-20 09:58] dukebody commented on #114
@jorisvandenbossche, @wesm I asked for inclusion in https://github.com/scikit-learn-contrib/scikit-learn-contrib/issues/19.

[2017-08-20 10:59] dukebody commented on #110
@esquire900, @arnau126 I coded up a proposal for this feature, with a context manager stolen from StackOverflow :) let me know if it looks good to you. I also think that this small feature can be hugely useful for those using sklearn-pandas in a day-to-day basis!

[2017-08-20 11:19] dukebody commented on #109
@molaxx I don't like the idea of transforming just one row to be able to get the feature names, it's too hacky. I understand it can be surprising that one needs to transform the data to be able to get the column names, but this is due to the complex nature of the custom transformers.

What we can do is to _try_ to get these from the last transformer for each column during fit, [like `FeatureUnion`

[2017-08-20 11:22] dukebody commented on #53
Closing due to lack of response. Please reopen again if necessary.

[2017-08-20 11:22] #53 closed

[2017-08-20 11:27] dukebody commented on #41
Last intent to do this was https://github.com/pandas-dev/sklearn-pandas/pull/56 but it stalled waiting for input from other dev. Perhaps we can retake it?

[2017-08-20 11:28] dukebody commented on #118
This has already been discussed, goto https://github.com/pandas-dev/sklearn-pandas/issues/41. See the last comments there, perhaps you can help finishing the work?

Closing this one, please continue discussion in the other open ticket.

[2017-08-20 11:28] #118 closed

[2017-08-20 11:32] dukebody commented on #80
@PeterDavidMulligan I don't see which version of `sklearn-pandas` have you installed in your environment. Are you sure you have it installed there? `pip freeze` should show it to you if it is installed.

[2017-08-20 21:37] molaxx commented on #109
Ok. Sounds good. I'll find time to work on it. Can you point me to a
transformer that does not allow getting  feature names post fit so i can
test my solution?

On Sun, 20 Aug 2017 at 14:19 Israel Saeta Pérez <notifications@github.com>
wrote:

[2017-08-22 04:54] HereticSK opened #121 "There seems to be some redundant code in DataFrameMapper._get_col_subset"
1. in the definition of `DataFrameMapper._get_col_subset`, there are a few lines of code which ckecks whether X is a list
[code]
When would X be a list? If I understand the code correctly, `DataFrameMapper._get_col_subset` is called internally within  `DataFrameMapper.fit` and `DataFrameMapper.transform`. It receives its argument  `X` directly from the outer method, where `X` should passed as a pa

[2017-08-24 15:14] esquire900 commented on #110
@dukebody this is (at least for me, but hopefully for others) hugely helpful. Thanks so much for coding this!

[2017-09-02 14:50] DataTerminatorX opened #122 "Failed to realize user defined transform through "FunctionTransformer""
I want to define my own feature transformation, and then put it into `DataFrameMapper`. I tried `sklearn.preprocessing.FunctionTransformer` but failed. Can anyone help?

Say, now I have some data below
[code]

I found below code work well
[code]
So I mimic it to realise a new transformation. First I define a `numpy ufunc`
[code]
Then I put it into `DataFrameMapper`
[code]

But when I use `feature_

[2017-09-03 14:09] dukebody commented on #121
Hi @HereticSK !

Thank you very much for taking the time to write such a detailed ticket.

1) You are right it seems redundant. IIRC this was something needed when dealing with quite old sklearn versions that weren't capable of dealing with pandas dataframes correctly. I'm removing that block and commiting the code if there are no feature tests failing. We don't aim to keep compatibility with old

[2017-09-03 14:09] #110 closed

[2017-09-03 14:10] dukebody commented on #110
@esquire900 @arnau126  please grab last master version and try it out! :)

[2017-09-03 14:24] dukebody commented on #121
Ok for (1) it seems that code block is needed for the cross-validation compatibility layers for sklearn>=0.16.0. We can drop that code block in sklearn-pandas 2.0 as advertised.

I will add a comment to the code to remember this. :)

[2017-09-03 14:36] #121 closed

[2017-09-03 14:41] dukebody commented on #109
I believe that any transformer that doesn't have a `classes_` attribute or a `get_feature_names` method, which are the ones that `_get_feature_names` leverages, will work for the test. You can create a mock one in the tests.

[2017-09-06 10:44] andrewm4894 opened #124 "CV on Params in DataFrameMapper Transforms?"
Apologies for posting as an issue but feel like could be a useful use case.

I'm just wondering if something like what i'm trying to do is or should be possible.

If i set up a pipeline like:

[code]
Is there a way to pass a list of options to CV on for individual transforms in the DataFrameMapper like here:

[code]
Ideally id like to CV on what params are best for the name_to_tfidf and ticket_to_

[2017-09-08 07:55] scotthuang1989 commented on #124
I think what you want is this [GrideSearchCV](http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html#sklearn.model_selection.GridSearchCV), just create a GridSearchCV, pass to pipeline as a "normal " estimator, then you will get what you want.

[2017-09-08 08:07] scotthuang1989 commented on #122
can you post you whole code as whold py file?  I am not sure this line of code is right:

the 3rd parameter of input tuple should be a dictionary, looks like a grammar error to me.

[2017-09-08 08:38] scotthuang1989 commented on #116
@dukebody
sorry for the "very late" response, I get hold up with some  other forget to check github.

for your question, I write a small sample code:

[code]

ERROR message is:

like I said, the way sklearn-pandas take is process all mapper, then combine the result together. So I don't think this is a issue, because to work around this, you guys need re-implements process functions.

@arnau126  li

[2017-09-08 08:53] scotthuang1989 commented on #113
@dukebody  don't you think this is more nature to a user?

[code]

[2017-09-08 08:57] andrewm4894 commented on #124
My bad - I left that part out. I am doing this:

[code]
And then:
[code]
So i am able to do the CV on the clf params but id also like to do CV on some params within the transforms in the DataFrameMapper - just not sure how to go about this.

[Here](https://github.com/andrewm4894/random/blob/master/pandas_sklearn_pipelines_titanic.ipynb) is a full example notebook.

Basically i was passing `['char'

[2017-09-09 16:46] #116 closed

[2017-09-10 10:16] dukebody commented on #122
Which error?

[2017-09-10 10:20] dukebody commented on #113
@scotthuang1989 it might look more natural but the syntax would be ambiguous: does it mean passing the three columns at the same time to `CategoricalImpute` and then to `LabelBinarizer`, or the three columns separately and then concatenate them horizontally?

The first option is how it already works and I believe changing this could be too confusing, sorry.

[2017-09-10 14:24] #95 closed

[2017-10-16 03:47] macwanjason commented on #83
Is there a way to rename multiple column outputs at a time? For example:

[code]
This outputs:
[code]

But I would very much like to rename , say, dates_1_0 to dates_1_year or dates_2_1 to dates_2_month

[2017-10-16 03:54] macwanjason commented on #104
Is there a way to rename multiple column outputs separately while applying the transformers? For example:

[code]

But I would very much like to rename , say, dates_1_0 to dates_1_year or dates_2_1 to dates_2_month

[Stack Overflow Question Reference](https://stackoverflow.com/questions/46759141/custom-transformer-that-splits-dates-into-new-column/46762617#46762617)

[2017-10-17 11:47] trahflow opened #127 "transformed_names_ are not being unpickled."
Hi,

the `DataFrameMapper.transformed_names_` are a convenient feature if one wants to inspect e.g. feature importances.
Unfortunately, right now this attribute is not being unpickled, as it is missing in `DataFrameMapper.__setstate__()`.
Adding it there should fix the issue.

[2017-10-19 00:52] bifeng opened #128 "multiple columns alias name is not effect!"
[code]

## ['pet_cat', 'pet_dog', 'pet_fish', 'children_scaled_0', 'children_scaled_1', 'age']

[2017-10-19 06:40] bifeng commented on #128
`import pandas as pd
import numpy as np
import sklearn.preprocessing, sklearn.decomposition, \
    sklearn.linear_model, sklearn.pipeline, sklearn.metrics
from sklearn_pandas import DataFrameMapper
from sklearn_pandas import CategoricalImputer

data = pd.DataFrame({'pet':      ['cat', 'dog', 'dog', 'fish', None, 'dog', 'cat', 'fish'],
                      'children': [4., 6, 3, 3, 2, 3, 5, 4],

[2017-10-20 02:47] bifeng commented on #128
I have solved this problem! How to contribute it?

[2017-10-21 06:39] devforfu commented on #41
Am I right that this feature should be something like:
[code]

Where `transformed` will be something like:
[code]

And, `restored` is the original dataframe:
[code]

[2017-10-22 11:47] dukebody commented on #104
Hi @macwanjason! Right now what you ask for is not possible without manual preprocessing.

There is however a simple way I believe we could implement this feature: accepting a function for the `alias` optional argument. This fuction would have signature `columns, transformer, Xt, index`, where `Xt` is the transformed output and `index` is the positional index of the column to name.

For example:
[

[2017-10-22 17:48] #127 closed

[2017-10-22 17:48] dukebody commented on #127
Thanks for the report! The cited commit should fix this.

[2017-10-22 18:05] dukebody commented on #128
Can you describe what do you expect vs. what is the current behavior? I don't quite understand where is the issue.

The input `alias1` in othe of the options dict for one of the features in your code doesn't do anything. A parameter with such a name is not expected nor used.

[2017-10-22 18:09] dukebody commented on #41
@devforfu yes, this is what I understand.

To do so we need to keep track of which columns correspond to which features in the transformed output, and then run the transformer inverse on each block.

[2017-10-22 18:24] dukebody commented on #114
Done!

[2017-10-22 18:24] #114 closed

[2017-10-23 06:43] bifeng commented on #128
The first result I expect it should be:
['pet_cat', 'pet_dog', 'pet_fish', 'children_scaled', 'salary_scaled', 'age']
Yes, the input alias1 is unuse, so I using the list:
`mapper = DataFrameMapper([
     ('pet', [CategoricalImputer(), sklearn.preprocessing.LabelBinarizer()]),
     (['children', 'salary'], sklearn.preprocessing.StandardScaler(), {'alias': ['children_scaled','salary_scaled']})
 ], d

[2017-10-23 06:57] devforfu commented on #128
@bifeng See the CircleCI report (click [Details](https://circleci.com/gh/pandas-dev/sklearn-pandas/37?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link) link). Basically, your pull request has a few `flake8` errors/warnings.

[2017-10-24 02:01] pheman opened #130 "ImportError when import gen_features"
Is there a significant API change for gen_features? I encounter the following ImportError when I import the gen_feature function.

output:
1.5.0
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-7-58333222ffaf> in <module>()
      1 import sklearn_pandas as skpd
      2 print(skpd._

[2017-10-24 06:11] devforfu commented on #130
@pheman I guess that `gen_features` is available only if you directly install the package from the `master` branch. Because this function was introduced recently, and doesn't exist in `v1.5`.

[2017-10-26 05:06] bifeng commented on #128
@devforfu  finally remove these errors.

[2017-10-27 15:10] jorisvandenbossche commented on #114
Great!

[2017-10-28 13:41] dukebody commented on #130
Yep let's do a release. :)

[2017-10-28 13:55] dukebody commented on #130
Released. You can download the last version from pypi.

[2017-10-28 13:55] #130 closed

[2017-11-07 13:41] thebeancounter opened #131 "fit_transform fails for multiple column transformation"
Hi
I have multiple column names in the variable `other`
When i try to use the following code taken from [here](https://github.com/scikit-learn-contrib/sklearn-pandas):
`from sklearn.preprocessing import MinMaxScaler, LabelEncoder`
`mapper = DataFrameMapper([[other[0],other[1]],LabelEncoder()])`
`mapper.fit_transform(df.copy())`
I get the following error:

When I use the following code, it works gr

[2017-11-07 16:35] erikjandevries commented on #41
Hi all, I've worked on a fork to create a solution for this problem. It passes the test

    def test_inverse_transform_multicolumn():
        df = pd.DataFrame({'colA': list('ynyyn'), 'colB': list('abcab'), 'colC': list('sttts')})
        mapper = DataFrameMapper([
            ('colA', LabelEncoder()),
            ('colB', LabelBinarizer()),
            ('colC', LabelEncoder()),
        ])

[2017-11-07 22:00] erikjandevries commented on #131
The `DataFrameMapper` takes a list of tuples (each tuple containing a column name and a transformer object). In your first code snippet you've given it a list, containing a list and the `LabelEncoder`.

You might want to have a look at the section  [Same transformer for the multiple columns](https://github.com/scikit-learn-contrib/sklearn-pandas#same-transformer-for-the-multiple-columns) which exp

[2017-11-12 06:38] devforfu commented on #41
@erikjandevries I guess you only need to run `tox` to see if all tests pass. Probably, add a couple of more tests to see if your implementation correctly handles cases with several transformers, like:
[code]

Then, if everything is fine, you could make a pull request and wait for a review from the repo owners.

[2017-11-12 06:41] devforfu commented on #96
@paubelsan @dukebody If the proposal for this enhancement is still actual, I could make a try.

[2017-11-12 13:21] danielsabinasz opened #132 "reverse_transform for DataFrameMapper"
Hi everyone,

I'd like to ask if it is possible to implement a reverse_transform method on the DataFrameMapper class, so that I can turn lists of sklearn vectors back into Pandas DataFrames.

Best,
Daniel

[2017-11-14 03:16] devforfu commented on #132
See issue #41, I guess it is the same request what you're asking about.

[2017-11-21 03:03] amueller opened #134 "Why TransformerPipeline?"
Hey. Silly questions: it's not immediately obvious to me, but why do you need TransformerPipeline? Can't you just use sklearn.pipeline.Pipeline?

[2017-11-29 05:10] PeterDavidMulligan commented on #80
I fresh installed everything and it worked. Thanks for the reply. :)

[2017-12-11 22:21] DavideAllavena opened #135 "unicode handling error"
Working with unicode text tokens i got this error using `DataFrameMapper` and `CountVectorizer`:
```UnicodeEncodeError: 'ascii' codec can't encode character u'\xe0' in position 7: ordinal not in range(128)```

To fix this I made this changes:
[code]

[2017-12-15 23:11] woodmicha opened #136 "In a pickle"
I'm attempting to leverage `DataFrameMapper` in a `Pipeline` during fit step which works fine provided I train the estimator(s) every time I run the application.  Given the expense of training these regressions I've been caching trained models using pickle which has worked fine for pipelines, estimators of all types (classifications, ensemble models, etc) I've used.

When using it with DataFrameMa

[2017-12-23 15:48] dukebody commented on #134
Hi @amueller!

I didn't remember why we did this, I had to look it up. I guess the best explanation about why used a subclass is https://github.com/scikit-learn-contrib/sklearn-pandas/issues/46#issuecomment-162305604.

Do you happen to know if the original `sklearn.pipeline.Pipeline` has changed in a way we don't need the `TranformerPipeline` anymore?

[2017-12-23 16:01] dukebody commented on #128
@bifeng I believe you can get the columns you want using the right syntax with the `DataFrameMapper`, without modifying any code. Try the following:

[code]

It outputs:
[code]
what is what you expect. Right?

The problem in your original code is that if you use the feature definition:
[code]
then it applies the `StandardScaler` to a numpy array consisting on both columns, producing a single outpu

[2017-12-23 16:05] dukebody commented on #131
Yep, the issue with your first code snippet is exaclty what @erikjandevries points out. Please reopen if you think there is a bug.

[2017-12-23 16:05] #131 closed

[2017-12-23 16:11] dukebody commented on #96
@devforfu I guess that @paubelsan might have different versions of numpy/pandas, but the issue looks the same to me: `LabelEncoder()` returns a 1-d vector, while other transformers expect 2-d vectors.

I kind of remember some conversations about creating a transformer (`[CategoricalEncoder](http://contrib.scikit-learn.org/categorical-encoding/)`?) in `sklearn` to do what `LabelEncoder()` does but

[2017-12-23 16:24] dukebody commented on #80
No problem! Considering it as fixed then, closing.

[2017-12-23 16:24] #80 closed

[2017-12-23 16:59] dukebody commented on #135
Which Python major version are you using, Python 2 or Python 3? I tried to solve this issue in the code, but cannot think of a good way that makes the code compatible with Python 2 and 3 at the same time and doesn't make assumptions about the encodings.

So I can only offer you a workaround:
1) If you are using Python 2, convert all your dataframe strings to bytestrings (encode them) before using

[2017-12-23 17:08] dukebody commented on #136
Hi @woodmicha !

Yes, for sure you can pickle the `DataFrameMapper` instances most times. We used pickled `DataFrameMapper`s in my previous work all the time for input data transformation.

From the description of you issue it seems like the state of the `LabelBinarizer` is somewhat not being saved correctly in, or restored correctly from the pickle. Would you mind submitting a small code snippet

[2017-12-25 22:34] amueller commented on #134
Ah, that explanation makes a lot of sense, thanks :)

[2017-12-25 22:34] #134 closed

[2018-02-02 18:50] datajanko commented on #111
I think you can incorporate this directly int a DataFrameMapper (since you can select columns multiple times). Otherwise you might want to do a Feature Union (a short implementation for data frames can be found here https://github.com/datajanko/pandastransformers/blob/0c46f01ce0258268cb77355c26abee912eccec6a/pandastransformers.py#L103)

[2018-02-02 19:08] datajanko opened #137 "Allow to disselect features"
Hey,

assume you used DataFrameMapper to preprocess some of you columns and you generated a lot of new columns. Now you want to use a large portion of those columns to impute another subset of columns using some kind of regression. In such a case it might be easier to just disselect a handful of columns and use the rest to perform this task.
Why not pass those columns to default?
- would need an d

[2018-02-02 22:21] datajanko commented on #128
I think he wants to avoid redundancy. Actually, it might be best to allow an aliases variable in gen_features

[2018-02-04 11:59] dukebody commented on #128
I honestly don't think it's too much writing... However to avoid redundancy one can write something like:

[code]

[2018-02-04 12:16] dukebody commented on #137
I don't see this as a very common feature, but however could be cleanly implemented using a class of "column selectors":

- By default, if the first element of the feature definition is an string or a list, select those columns.
- If the first element is an instance of subclass of `ColumnSelector`, use `column_selector.select(dataframe)`.

Default implementation:
[code]
This way one can easily def

[2018-02-04 12:37] devforfu commented on #137
Probably the only thing that could be considered is naming of inherited classes, i.e. `ExcludeColumnsSelector` sounds a bit vague (though maybe it is just a matter of taste) and could be something like this instead:
[code]
I would say that this feature could be quite suitable, especially, in case of more sophisticated transformations or filters. Also, one could add additional flags to these classe

[2018-02-04 12:42] dukebody commented on #137
@devforfu The `ExcludeColumnsSelector` was an example :)  I think we can provide the base selector class, then users can implement any behavior subclassing that one, but would be up to them what to do.

We can however provide the selector to exclude columns as example - both `ExcludeClumnsSelector` and `ExcludeColumns` sound OK to me. I don't mind as soon as it's implemented and works correctly. :

[2018-02-04 14:39] devforfu commented on #137
@dukebody Ok, understood =) So, the main thing is to bring support of that additional interface which could be provided instead of list of strings and would call a `select()` method on dataframe before passing it down to next steps, as I can see.

[2018-02-04 16:13] dukebody commented on #137
Yes, it looks even fun to implement. ;)

El dia 4 febr. 2018 15:39, "devforfu" <notifications@github.com> va
escriure:

[2018-02-04 19:33] datajanko commented on #128
In that case, I have the feeling that we should modify gen_features (because it seems like your are essentially providing functionality of that function.

[2018-02-04 19:37] datajanko commented on #137
Currently, I am using a ColumnExcluder as you suggested. In long pipelines, this is really handy. However, what will happen to the default handling? Because if you exclude a column 'a' it actually should (in my opinion) be in the set of columns that get treated by "default". If I am correct, this won't happen with the implementation suggested by you.

[2018-02-05 08:55] zouzias commented on #109
@molaxx `OneHotEncoder` is an example of a transformer without `classes_` or `get_feature_names()`. See http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html

[2018-02-05 09:31] datajanko commented on #137
Currently I am using column selector transformers objects. But your definition of column selector looks really nice. Haven't thought of that place to insert the column selection.

[2018-02-05 13:54] datajanko opened #138 "Dataframe output: Column types depend on the value of default"
So the Type of the output column types is the largest class containing all types in every column (typically object)

    check_df = pd.DataFrame({'A': [1.0, 2.0], 'B':[1,2], 'C':['A', 'B' ]})
    mapper_check= skp.DataFrameMapper([('A', preprocessing.LabelBinarizer())], default=False, df_out=True)
    mapper_check.fit_transform(check_df).dtypes
    A    int64
    dtype: object

now use default= No

[2018-02-16 10:42] pepaczz opened #139 "Installing sklearn-pandas with Anaconda on Windows"
Is there a way to get the `sklearn-pandas` package installed using `conda`  on Windows 10?

P.S. this is my first "issue" message in Git, hope I am at a right place.

[2018-02-16 13:17] pepaczz commented on #139
Made it running using `pip` in a mean time.

[2018-02-16 13:17] #139 closed

[2018-02-16 13:23] devforfu commented on #139
@pepaczz Do not know for sure if there is an "official" distribution of `sklearn-pandas` on `conda`, but you could search [here](https://anaconda.org/search?q=sklearn-pandas) next time for different conda channels that could have packages absent from the default one. That is what I [have found](https://anaconda.org/creditx/sklearn-pandas), for example:
[code]
But, the version could be outdated or

[2018-02-20 21:03] sebastiangonsal opened #140 "multiple transformers for single column. Different expected input shapes"
I have the following setup:
Column needs 2 transformers in a sequence (i.e. if column is x then i want to output g(f(x)) ). First is an imputer that needs to happen before second one is applied.
First one expects single dimensional array, second expects 2 dimensional input. How can I do this?

[2018-02-20 21:33] sebastiangonsal opened #141 "implementing my own transformer"
What methods need to be implemented if I need to ship my own transfromer.

[2018-02-28 17:44] #140 closed

[2018-02-28 17:44] #141 closed

[2018-03-07 01:47] sebastiangonsal opened #143 "sklearn pandas crashes on integer column names"
`DataFrameMapper` throws error when column names of `DataFrame`  are integers (eg. a dataframe instantiated from a numpy array). Problem is Line 236 that assumes column names to be strings.

https://github.com/scikit-learn-contrib/sklearn-pandas/blob/master/sklearn_pandas/dataframe_mapper.py#L236
[code]

[2018-03-07 20:28] #143 closed

[2018-03-23 16:15] rwjmiller opened #144 "Feature request: option to manually specify replacement value used by CategoricalImputer"
The mode is a good replacement value to use most of the time, but it would occasionally be useful to be able to specify a different value, e.g. on the basis of domain knowledge.

Would it be a lot of work to add this functionality? My python code is not generally of such a standard that I would feel confident contributing to the project.

[2018-03-24 16:48] dukebody commented on #144
It shouldn't be a lot of work! Thanks for implementing this.

[2018-03-25 15:16] dukebody commented on #144
Fixed in #145.

[2018-03-25 15:16] #144 closed

[2018-03-25 15:28] dukebody commented on #138
Sorry for the big delay. Does this issue cause you trouble somewhere else? If you know how to fix this, can you submit a PR with the fix? Thanks!

[2018-03-25 15:31] dukebody commented on #135
Closing because I don't think there is any reliable and not tpp complex way of fixing this in both Python 2/3 at the same time and with both text and bitstrings as possible column labels.

[2018-03-25 15:31] #135 closed

[2018-03-25 18:48] datajanko commented on #138
No problem. In pipelines, I had the problem, that an estimator did not work with an column of object type containing floats/ints. Those things can happen if you e.g. keep an object column in the first step of a pipeline, and the rest should be floats/ints. Then all columns have object type. This makes it necessary to append a 'to float/int' transformer at the end of a pipeline.

I am not sure, how

[2018-03-30 17:47] sebastiangonsal opened #146 "pip package update"
When does current master arrive in pip repo? The package seems to be behind.

[2018-04-09 19:18] ragrawal opened #147 "simplifying interface"
Hi,
I love sklearn-pandas and it has been extremely useful in helping setup transformation pipeline. However, there are few holes for which I have started a new project that creates another level of wrapper around sklearn-pandas. You can find my package over [here](https://github.com/ragrawal/pandas-transformer). It especially fix these two issues:

1. Simply interface to apply transformation on o

[2018-04-13 01:36] bifeng opened #148 "Setting n_values of OneHotEncoder for multiple columns?"
## For each columns has different unqiue values, then how to setting the n_values for each columns?
`from sklearn_pandas import gen_features

feature_def = gen_features(
     columns=[['col1'], ['col2'], ['col3']],
     classes=[{'class': sklearn.preprocessing.OneHotEncoder, 'n_values': ?}]
 )

mapper5 = DataFrameMapper(feature_def)

data5 = pd.DataFrame({
     'col1': [3, 2, 2],
     'col2': [2,

[2018-04-15 18:45] dukebody commented on #148
Don't use the `gen_features`, Write the features explicitly:

[code]

[2018-04-16 18:32] hacktuarial commented on #138
I am working on a PR for this issue and will submit this week.

[2018-04-26 00:30] SandroCasagrande opened #150 "DataFrameMapper cannot leverage special fit_transform methods"
For transformers in a DataFrameMapper, it would be useful to be able to access native combined fit_transform methods. This would allow e.g. for the different semantics of PCA(..., copy=False).fit_transform(X) versus .fit(X).transform(X), or the optimized version of DictVectorizer.fit_transform for sparse matrices, etc.

The current implementation of DataFrameMapper can only access each transformer

[2018-05-13 23:50] arielrossanigo opened #155 "Out of date tox requirements"
I've just found some tox requirements out of date from the setup.py.
I.e: tox runs with pandas 0.19 but when sklearn-pandas is pip installed, the version of pandas is 0.22.

With 0.22 there are some test that fail. I'll try to fix this and make a pull request, but I want to know how is the policy regarding testing different versions of dependencies, I mean, I saw that tox check against sklearn 0.1

[2018-07-06 14:59] Whamp commented on #41
interested to see if there's been any progress on this issue. Seems like a pretty major limitation to not be able to recover the original data after transformation.

[2018-07-11 05:42] dukebody commented on #41
I'm very sorry, I'm busy lately with other stuff in my life and haven't
managed to review this... Would any of you be interested in becoming a
project admin with merge rights?

El dc., 11 jul. 2018 , 00:27, Whamp <notifications@github.com> va escriure:

[2018-07-11 05:51] erikjandevries commented on #41
I'm sorry to say I've also been very busy. If I'm not mistaken the problem with my code was that I created a new variable `self.transformed_cols_` where I should have used the existing `self.transformed_names_`
I did this since I wasn't sure what I might break otherwise or I wasn't sure how to use the transformed names variable... It's been a long time, I think I found another way around for the p

[2018-07-11 06:18] devforfu commented on #41
@dukebody I usually track the `sklearn_pandas` repository changes and pull-requests and use it in my daily tasks so I could work on this if nobody else decides to take this responsibility.

[2018-07-16 11:35] lsorber opened #158 "Feature request: retain DataFrame index when `df_out=True`"
Right now if you ask for a DataFrame output with `df_out=True`, you lose the information in the DataFrame's index. Since Sklearn transformers may not add or remove rows, it makes sense to retain the input DataFrame's index when `df_out=True`.

[2018-07-16 12:08] lsorber commented on #158
Closing this issue: I just discovered this is in fact already implemented.

[2018-07-16 12:08] #158 closed

[2018-07-26 12:20] gwerbin opened #159 "Expose parameters from transformers as parameters of the mapper"
Currently, it can be hard to use a "parametric" transformer in a DataFrameMapper because the parameters of the underlying transformers aren't exposed. This means you can't adjust the parameters of one of those transformers using GridSearchCV or RandomizedSearchCV.

Example:

[code]

These are the params I get:

[code]

Naively, I would expect something like this

[code]

which would be very handy

[2018-07-26 12:49] AssafBenDavid opened #160 "Bug in DataFrameMapper.get_names: unicode feature names"
Hi,

When the features returned by a transformer (by `_get_feature_names`) are unicode strings containing non-ascii characters, `get_names` throws a `UnicodeEncodeError`. This is due to line 256 in `data frame_mapper.py`:
`return [name + '_' + str(o) for o in names]`
This assumes any object in `names` can be converted to string using `str`.
It would be much better to use something like `'%s_%s' %

[2018-07-26 12:55] devforfu commented on #159
@gwerbin That would be helpful to make transformers from the mapper "grid-searchable". Just need to be sure that these "deep" parameters are appropriately assigned to the nested classes with the `set_params` method.

[2018-08-01 04:21] bjherger opened #161 "CategoricalImputer constant strategy"
- Update `CategoricalImputer` terminology to be consistent with [SimpleInputer](http://scikit-learn.org/dev/modules/generated/sklearn.impute.SimpleImputer.html#sklearn.impute.SimpleImputer)
   - fixed_value to constant
   - mode to most_frequent
   - replacement to fill_value
 - Update documentation to reference `strategy='constant'` strategy
 - Update default `fill_value` to `'?'`, consistent wit

[2018-08-01 04:57] devforfu commented on #159
@gwerbin I guess it could be a name of class as well. As I can recall, `make_pipeline()` from scikit-learn creates pipeline steps names using lower-cased names of the classes this pipeline is made of. So probably in this case could be something similar:
[code]

[2018-08-05 16:04] dukebody commented on #41
@devforfu Thanks! I've sent you an invite to become collaborator with write access to this repo, so you can merge stuff. Do you have an account in Pypi so I can give you access to publish new releases there?

[2018-08-05 16:53] dukebody commented on #161
Hi @bjherger ! Sounds nice and easy to implement? Would you be willing to do so? We can provide help with tests & code review.

[2018-08-05 16:57] dukebody commented on #159
@gwerbin Thanks for your contribution! It would be certainly a very interesting feature, since currently it is impossible to adjust the internal parameters of the dataframe mapper in the pipeline in any optimization.

Would you be willing to implement such a feature? Ideally it should be as similar in interface to sklearn as possible, to be compatible with sklearn's grid or randomized searches.

[2018-08-05 17:06] dukebody commented on #160
Thank you very much for the report and the contribution! Fixed in #165.

[2018-08-05 17:06] #160 closed

[2018-08-05 17:06] bjherger commented on #161
@dukebody Sounds perfect! I've begun reviewing the `contributing.md` document, and I'll get working on a first pass.

Please feel free to assign this task to me, if you guys do that for tracking.

[2018-08-06 07:31] FlorisHoogenboom commented on #150
It would be great to have this feature! There are many cases in which `fit_transform` should behave differently from `fit().transform()`, for examply when encoding categorical levels by leave-one-out means. Are there any plans to merge #152?

[2018-08-06 09:46] FlorisHoogenboom commented on #96
Since this is a problem that is likely still encountered by many it may be good to write here that in the dev-0.20 version of sklearn [OneHotEncoder](http://scikit-learn.org/dev/modules/generated/sklearn.preprocessing.OneHotEncoder.html#sklearn.preprocessing.OneHotEncoder) directly supports categorical inputs without using `LabelEncoder`. I think this mostly resolves all issues regarding encoding

[2018-08-06 14:00] devforfu commented on #41
@dukebody Sure, not a problem. Yes, I've created one, the username is `devforfu`.

[2018-08-06 17:31] gwerbin commented on #159
@dukebody I'm willing, but can't make any guarantees on a timeline. I've been pretty busy lately and don't want to commit to anything I can't deliver.

I would also need time to familiarize myself with how parameters are passed in the current code.

If anyone else wants to pick this up, I won't be offended.

[2018-08-07 03:07] devforfu commented on #159
@gwerbin If nobody else had started working on this PR, I could make a try to come up with some basic solution. Of course, we can unite our efforts as soon as you become more available.

[2018-08-09 23:48] bjherger opened #167 ".pytest_cache should be added to .gitigore"
The files that are automatically generated within `.pytest_cache` should be ignored by git, by adding that folder to `.gitignore`

[2018-08-13 19:55] bjherger commented on #161
@dukebody I've followed the contributing guide, written the code, and submitted a PR (#168 ). What's the best way to get feedback on this PR?

[2018-08-14 03:43] devforfu commented on #161
@bjherger I'll review the changes today if I can do it before others.

[2018-08-15 08:09] devforfu commented on #159
Ok, I've started work on the proposed feature in [my fork](https://github.com/devforfu/sklearn-pandas/blob/master/sklearn_pandas/dataframe_mapper.py#L358-L406). There is [a couple of new tests](https://github.com/devforfu/sklearn-pandas/blob/master/tests/test_dataframe_mapper.py#L901-L977) as well.

Probably some code required to implement `get_params` and `set_params` could be borrowed from the `

[2018-08-15 12:14] #146 closed

[2018-08-15 12:43] dukebody commented on #150
Fixed in #169, which superseded #152 . Thanks!

[2018-08-15 12:48] #150 closed

[2018-08-15 12:49] dukebody commented on #167
True. Fixed in #166. Thanks!

[2018-08-15 12:49] #167 closed

[2018-08-15 12:51] dukebody commented on #41
@devforfu Added you to pypi. I guess you should have received some kind of notification about it.

Can you take care of managing next release after working out existing PRs?

[2018-08-21 17:58] bjherger commented on #161
Adding unittest to acceptance criteria

[2018-08-23 14:50] devforfu commented on #161
Solved with #168.

[2018-08-23 14:50] #161 closed

[2018-09-05 13:02] devforfu commented on #147
@ragrawal That's a great idea to improve `sklearn-pandas` but could you please tell us more about the key differences with your project? As I can see from your examples, we can achieve the same goals with:
[code]
Also, that would be great to make sure that objects generated with the new interface are compatible with the old API and don't duplicate the existing hierarchy.

[2018-09-05 15:26] #148 closed

[2018-09-11 02:14] leonardommarques opened #171 "DataFrameMapper changes columns types when default=None."
When I use `DataFrameMapper` and set up `default=None` to transform a column,  all other columns
types are changed to `object`. But this does not happen when I have only `float` and/or `int` columns

import pandas as pd
import numpy as np
from sklearn_pandas import DataFrameMapper
from sklearn.impute import SimpleImputer

# all numerical columns lead to no error
da = pd.DataFrame({'a':[1,3,np.nan]

[2018-09-11 12:49] songpeng326 opened #172 "When using keras to output confusion matrix, encounter dug"
test_result
[code]

code:
[code]

Traceback:
[code]

[2018-09-11 12:56] devforfu commented on #172
@songpeng326 Could you please a bit clarify your question? As I can see, your error is something related to the `scikit-learn` itself, and not to the `sklearn_pandas` package.

[2018-09-19 15:39] ragrawal commented on #147
The main pain point for me was that often I have a feature that is broken down into multiple features. Eventually, I have to process one or more of these derived features. Existing API doesn't allow to work on derived features. The only solution is to have two separate DataFrameMapper. That was the primary motivation.

Also (althoug minor), I like to express things as a function rather than passin

[2018-09-26 19:14] micahjsmith opened #173 "Clarify relationship to ColumnTransformer"
[Scikit-learn v0.20.0 ](http://scikit-learn.org/stable/whats_new.html#version-0-20) was just released and includes the ColumnTransformer, which is much related to the DataFrameMapper. It might be helpful for people who come to the sklearn-pandas project to see a note in the README explaining what differences there are between the approaches and when one should be preferred over the other.

[2018-10-02 08:18] hildeweerts opened #174 "Preserving column names when transformer requires multiple columns as input"
I was wondering whether it is possible to preserve column names when using a transformer that requires multiple columns of the dataframe. I'll try to illustrate what I mean with an example.
[code]
Which outputs ` ['children_salary'] `, whereas I would expect just `['salary']`. This makes it impossible to keep track of which columns were dropped by the SelectKBest transformer. Is there currently a

[2018-10-02 19:43] jhoh10 opened #175 "import error with sklearn version 0.20"
On windows, unable to import pandas_sklearn v1.7.0 with the new version of sklearn v 0.20.

ImportError                               Traceback (most recent call last)
<ipython-input-6-7ba6ae61982c> in <module>()
---> import sklearn_pandas

~\AppData\Local\Continuum\anaconda3\envs\python36\lib\site-packages\sklearn_pandas\__init__.py in <module>()
      1 __version__ = '1.7.0'
      2
----> 3 from

[2018-10-02 20:01] jhoh10 commented on #175
Nevermind. This seems to be more of an issue with sklearn itself.

[2018-10-02 20:01] #175 closed

[2018-10-07 01:40] david-waterworth opened #176 "gen_features failing with SimpleImputer on bool column"
Hi

I'm working through the the [https://github.com/scikit-learn-contrib/sklearn-pandas/blob/master/README.rst](tutorial).

I'm getting a deprecation warning on this code

[code]

So I replaced it with

[code]

But this fails with

So I replaced gen_features with an explicit DataFrameMapper and it works

[code]

As far as I can see the explicit DataFrameMapper should be the same as the one built b

[2018-10-07 12:28] devforfu commented on #172
Sounds like a problem irrelevant to the library.

[2018-10-07 12:28] #172 closed

[2018-10-07 12:51] devforfu commented on #173
@micahjsmith Yes, agree, it seems like `ColumnTransformer` makes a lot of work in a similar way. Definitely worth to mention in the README file. Would you like to make a PR with documentation describing the similarities and differences between these two things?

[2018-10-07 15:07] micahjsmith commented on #173
Sure, I can give it a shot

[2018-10-07 15:35] devforfu commented on #176
@david-waterworth It could be a bug. The package is not tested on `sklearn==0.20.0`.

[2018-10-07 20:50] david-waterworth commented on #176
Ah right, no worries. I guess I'll have to either put up with the errors or downgrade sklearn

Actually my last example doesn't work either. It doesn't throw an error but it looks like it's converting the bool to 0/1's and in all cases it's ignoring most_frequent and seems to be using the default strategy (mean) so it doesn't match the original

[2018-10-10 18:57] ragrawal commented on #147
The recommended approach make sense for simple transformations that are not too costly. Above, you are splitting the string into two parts twice: once in get_day and second time in get_amount. Assuming, if splitting a string is an expensive operation, ideally you want to do it only once. In that case the series of operations will look like this:

[code]
I had a similar situation where the input fe

[2018-10-12 17:34] ragrawal opened #178 "Using str column alongs with OneHotEncoder gives conversion error."
below is a sample script that generates a conversion related error

[code]

If I replace OneHotEncoder with some other operation (such as LabelEncoder) then it works fine. Not sure what's the issue. Can someone please help resolve this

[2018-10-13 20:36] nabaskes commented on #96
I'm not sure if anyone is still experiencing this problem in light of recent updates to sklearn but if you have a list of categorical variable keys you can do something like

`DataFrameMapper([(c, LabelBinarizer()) for c in categorical]+[(n, None) for n in df.columns if n not in categorical])`

Hopefully this can be helpful to somebody

[2018-10-17 17:59] dukebody commented on #159
Marking as "good first issue" to review the PR you created @devforfu

[2018-10-17 18:02] dukebody commented on #171
I believe this is because the dataframe mapper uses the same "empty transformer" selecting all not explicitly selected columns, therefore if their types are mixed, the best type for the extracted numpy array is "object", to be able to cover strings, ints, floats, etc.

I don't know if this can be worked around by "copying" the default columns one by one, keeping the dtype.

[2018-10-17 18:06] dukebody commented on #174
I believe this should be possible if the transformer you use implements some interface to get the name of the resulting features. See https://github.com/scikit-learn-contrib/sklearn-pandas/blob/master/sklearn_pandas/dataframe_mapper.py#L40.

Perhaps you can extend `SelectKBest` to provide this interface?

Marking as "good first issue" to come up with an example of this that works.

[2018-10-17 18:08] dukebody commented on #176
@monikamulani does your issue have something to do with the original post?

[2018-10-17 18:10] dukebody commented on #176
@david-waterworth , can you provide the deprecation warning and the full traceback of the error you receive? This will make debugging easier.

[2018-10-17 18:13] dukebody commented on #128
@devforfu I don't think #129 is necessary. We can modify `gen_features` to accept an aliases list perhaps, yes.

[2018-10-17 22:36] micahjsmith opened #179 "Behavior of mapper with no transformers"
A `DataFrameMapper` can be initialized and fit with an empty transformer list without errors. But then an error is thrown when transformation is attempted.
- I would expect (and would find it convenient) that a null mapper would be acceptable, and would transform any X to a `np.empty((np.size(X, 0), 0))` or to `None`. Otherwise this ends up being a fairly annoying special case in application logic

[2018-10-20 22:13] david-waterworth commented on #176
@dukebody message is as follows

[code]

[2018-10-20 22:18] david-waterworth commented on #176
@dukebody and the full traceback is

[code]

[code]

[2018-11-03 16:44] PierreAttard commented on #178
Hello,

The issue comes from
`if any(sparse.issparse(fea) for fea in extracted):`
  	  `\t     stacked = sparse.hstack(extracted).tocsr()`

The function hstack can take only sparse matrix (or array for np.hstack) with numeric elements.
I proposed a correction.
All the test from tox in python 2.7 are OK.
All the test with python 3.6 are OK. (I just had to modify little bit the file test for python3

[2018-11-21 11:05] tatome opened #183 "transform() is not threadsafe"
https://github.com/scikit-learn-contrib/sklearn-pandas/blob/0024cf70d35bed7b0c0327c611210228ab5f11b4/sklearn_pandas/dataframe_mapper.py#L291

The property `DataFrameMapper.transformed_names_` is reassigned and modified during `_transform()`.  That makes `transform()` not thread safe and a Pipeline using a DataFrameMapper cannot be safely used in multiple threads.

[2018-12-19 15:46] raoulbia commented on #176
from `sklearn/impute.py` line 201:
[code]
the dtypes of the toy data in the [README.rst](https://github.com/scikit-learn-contrib/sklearn-pandas) example is:
[code]
therefore, if you change the `dtype` of col2 to `category` it will work :)
`data.col2 = data.col2.astype('category')`

[2019-01-06 15:08] tsarav23 opened #186 "installing sklearn-pandas with anaconda on Mac"

[2019-01-06 15:09] tsarav23 commented on #186
Request someone to help installing sklearn-pandas for my MacBook Air. Unable to get the package.

[2019-01-18 17:06] repko-artem opened #187 "How to avoid extra formating in get_names method of DataFrameMapper?"
Hello. I have a question about implementation of the DataFrameMapper's method get_names.  When transformer implements its own get_feature_names method DataFrameMapper takes its result and then for some reason formats it
`return ['%s_%s' % (name, o) for o in names]`

My example. I have a list of date columns and transformer that creates 3 features from each column: day of month, week day and hour a

[2019-01-21 03:02] westurner opened #189 "DOC: README.rst: CircleCI links 404ing"
The CircleCI links in README.rst are 404'ing:

- https://circleci.com/gh/pandas-dev/sklearn-pandas
- https://circleci.com/gh/pandas-dev/sklearn-pandas.svg?style=svg

[2019-01-21 10:49] FlorisHoogenboom commented on #183
I guess this can be quite easily resolved by changing https://github.com/scikit-learn-contrib/sklearn-pandas/blob/0024cf70d35bed7b0c0327c611210228ab5f11b4/sklearn_pandas/dataframe_mapper.py#L310-L311
to something like
[code]
Or am I mistaken that `extend` is threadsafe?

[2019-01-26 07:45] inglor opened #191 "Provide tags for releases in source code"
Hi,

As a [maintainer] of the package in Archlinux I'd like to request to consider providing tags for the releases. A tag can prove useful to reproducible builds and points exactly in source history when the release was done. It's a much better representation of an arbitrary artifact packaged and uploaded in PyPI.

Thanks,
Leonidas

[maintainer]: https://aur.archlinux.org/packages/python-sklearn-p

[2019-01-28 11:52] FlorisHoogenboom opened #192 "Calling transform on a non-fitted DataFrameMapper raises TypeError"
When calling transform on a `DataFrameMapper` that hasn't been fitted yet, the `TypeError` below is raised:

[code]

It would be nice to have a more meaningful error since this is hard to debug. Ideally, we would check whether we are able to call transform on all underlying transformers and only raise of one of these is not successful. This may be difficult to implement since there is generic way

[2019-01-29 02:28] ZimengChen opened #193 "The value object (Python class sklearn_pandas.transformers.CategoricalImputer) is not a supported Transformer"
I try using CategoricalImputer to fill NaN values in data with the strategy 'constant':

[code]

Then error:

[code]

[2019-01-29 07:31] vruusmann commented on #193
This issue is a duplicate of https://github.com/jpmml/sklearn2pmml/issues/128

In brief, the `CategoricalImputer` transformer class has been moved from `sklearn_pandas.categorical_imputer` module to `sklearn_pandas.transformers` module between SkLearn-Pandas package versions 1.7 and 1.8. You have an old SkLearn2PMML package version installed, which does not know about this "migration" yet.

The fi

[2019-01-29 07:56] #189 closed

[2019-01-29 07:58] devforfu commented on #191
@inglor Hi! Makes sense. I guess we have a few but for quite old versions only.

[2019-01-29 09:08] devforfu commented on #174
@hildeweerts I would say that this kind of transformers is one of the most challenging ones to insert into a pipeline. The code we have now doesn't support this kind of flexibility so I guess the most simple way to do so is to manually track the changes. Not really convenient but I believe there are no other ways right now.

As @dukebody proposed, it could be something like (I guess we need to pic

[2019-01-29 09:19] devforfu commented on #187
@repko-artem I think the only way to suppress this additional help is to use `alias=''` [parameter](https://github.com/scikit-learn-contrib/sklearn-pandas/blob/b6f6794f7bdfd7a7940c8edc1fec48ac26128b3a/sklearn_pandas/dataframe_mapper.py#L239) so the names will be shorter, and then apply additional filtering to drop trailing `_` character.

Fill free to submit a PR so we can develop a better approac

[2019-01-30 10:19] FlorisHoogenboom commented on #186
You can use pip provided in your anaconda environment. Just activate the environment in which you wish to install sklearn-pandas and then call `pip install sklearn-pandas` as described in the readme.

[2019-01-30 10:57] FlorisHoogenboom commented on #183
I'm sorry, I think I misunderstood the issue initially. I've prepared a PR that should resolve the actual issue.

[2019-03-26 03:47] cguptac commented on #186
If you manage your conda environment with an `environment.yml` file, you can add the following lines to it:

[code]

[2019-03-28 11:56] JohnPaton commented on #109
Just popping in to say that I just spent ages trying to debug different numbers of columns in my training and test sets because it turns out the test set had lan extra label in a column that was being one-hot encoded. It would have been way easier to have some exception along the lines of "Number of columns from feature `<feature>` after transformation does not match last call" or something like t

[2019-04-02 11:22] monda00 commented on #171
Hi, I'm new to open source contribution.
Is is okay for me to work on this issue?

[2019-04-15 08:11] muketer opened #195 "Are SKLEARN API estimators can distinguish PANDAS nominal type feature and PANDAS ordinal type feature?"
Are SKLEARN API estimators, e.z. XGBOOSTRegressor and LGBMRegressor and CatBoostRegressor,
can recognize difference between
'ordinal feature (applying pandas.api.types.CategoricalDtype(data, ordered=True))'
and
'nominal feature (applying pandas.api.types.CategoricalDtype(data, ordered=False))' ?

thank you for your help.

[2019-04-23 04:49] jmq19950824 opened #196 "Is there any possibility to visualize the SGBClassifier results?"
I was trying to implement a classification problem by SGDClassifier and used the following codes:

SGDClassifier(penalty='elasticnet',random_state=seed,shuffle=False,loss='log')

i.e., I use a Logistic Regression for this classification problem and deploy both l1 and l2 regularized terms (elasticnet) to this model. Now the problem is I want to visualize the result like the enet_path in the sklearn

[2019-05-14 08:08] sunrisehang opened #197 "ValueError: Logistic Regression supports only penalties in ['l1', 'l2'], got none."
[code]
It will report the error: ValueError: Logistic Regression supports only penalties in ['l1', 'l2'], got none.

I dont know why i cant input parameter:penalty='none'

[2019-05-21 10:35] Rendiere commented on #128
@dukebody any update on adding list of aliases to `gen_features` ? +1 from me for this functionality ^_^

[2019-06-05 21:11] redwards-amfam commented on #197
LogisticRegression only supports L1 and L2 penalties now. The documentation here: https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html is out of date.

[2019-06-06 02:24] sunrisehang opened #198 "You need to update to the latest development version of sklearn:"
You need to update to the latest development version of sklearn:
`conda install scikit-learn=0.21.2`

good job ...thanks

[2019-06-06 02:25] #198 closed

[2019-06-06 02:25] sunrisehang commented on #197
thanks

[2019-06-06 02:25] #197 closed

[2019-09-10 11:55] sskarkhanis opened #199 "Question about Transforming Multiple Columns"
Hello

I just discovered sklearn_pandas and really like it.
I was trying to transform multiple columns as shown in the examples but can't get it to work.

I would really appreciate if you could please tell me what I'm doing wrong?
I tried replicating this with the dummy data frame you use in the example but it gives the same error.
Thanks!

##### Code

import pandas as pd
from sklearn_pandas impor

[2019-10-18 15:50] iDmple commented on #109
What's the status on this?

Is there any known workaround?

[2019-12-04 15:54] DemirTonchev opened #200 "I can't find a way to transform multiple features but with different transforms"
Is it possible to apply transformation just to one variable and then proceed to transform all of the selected like so?
`
mapper = DataFrameMapper([
('pet', sklearn.preprocessing.LabelBinarizer()),
(['children','salary'], [{'salaly':FunctionTransformer(np.log)}, PCA(),])
])
`
I want to apply some function to 'salary' but then proceed to PCA for both of the variables.

[2019-12-17 10:59] agn-7 commented on #197
I updated the latest version of `scikit-learn` (until now is 0.22) by `pip`:

[code]

`-U` is upgrade option

Result:

`pip show scikit-learn`

[code]

[2020-01-26 15:11] omar-arab-oghli opened #201 "CategoricalImputer most_frequent strategy"
The CategoricalImputer replaces all missing values with the most frequent value of the whole passed data frame.

The desired behaviour is to replace each missing value with the most frequent value of the missing value's column.

[2020-01-27 06:12] vickykhan89 commented on #197
I upgrade but still the same error

[2020-01-27 07:36] jackwellsxyz commented on #187
Hi I'd +1 this feature request. I've got a handful of boolean features that I pass in a list to sklearn-pandas, and I get something like `feature0_feature1_feature2_feature3_feature4_0` to mean `feature0`. It gets a little more confusing when I have feature names that already have underscores in them; in this case, it's not so easy to tell which feature the `0` is referring to. Is anyone already w

[2020-01-27 07:46] repko-artem commented on #187
In our project we fixed it in this way:
[code]

[2020-02-03 10:42] shaygeller commented on #197
upgrading didn't work for me. I found out that the problem is with the **solver**. If you'll change to 'lbfgs', you'll be able to use penalty='none'.

[2020-02-13 15:19] gennaro-tedesco commented on #138
I am seeing the same problem: has this been solved?

[2020-02-13 19:48] hacktuarial commented on #138
what version of sklearn-pandas are you using?

[2020-02-14 09:16] gennaro-tedesco commented on #138
I am using `sklearn-pandas==1.8.0`.

[2020-02-14 15:40] hacktuarial commented on #138
The following works for me, using `sklearn-pandas==1.8.0` installed from PyPI. Can you please provide a code snippet to reproduce your issue?

[code]

output

[code]

[2020-02-14 15:41] hacktuarial commented on #138
Ah, I see the problem now: column B should be integer type

[2020-02-14 16:47] gennaro-tedesco commented on #138
Yes, apparently it keeps the "old" type only when numeric, changing everything else to `object`; there is another GitHub issue referencing exactly this behaviour (I don't have it with me now). However, another one that can be relevant is here: https://github.com/scikit-learn-contrib/sklearn-pandas/issues/171

[2020-02-24 06:17] Aashit-Sharma commented on #174
@dukebody No updates on this ? Sounds like a really good idea to implement this

[2020-03-09 01:32] impiyush commented on #201
Interesting! I always thought that's what it does. I can take a look at this.

[2020-03-11 16:12] omar-arab-oghli commented on #201
I can't reproduce the issue right now since i am not working on the project anymore. But, if you take a look on the following code snippet you can see that the `mode()` function returns the most frequent value of the whole data frame instead of doing this column-wise

[code]

[code]

[2020-03-12 05:19] impiyush commented on #201
First I believed it was the intention to use a pandas series or np.ndarray as input as the imputer is meant to be used along with a `DataFrameMapper`, so I gave it a quick shot and was surprised -

<img width="905" alt="image" src="https://user-images.githubusercontent.com/3663894/76489461-a24f7b80-63e5-11ea-815f-c2a5103f68a3.png">

Something definitely does not looks right here and maybe as well

[2020-03-20 05:36] zjcanjux opened #202 "how to deal with MultiLabelBinarizer"
from sklearn.preprocessing import OneHotEncoder,LabelEncoder,MultiLabelBinarizer
from sklearn_pandas import DataFrameMapper

X = pd.DataFrame({'city': ['tokyo', 'london', 'london', 'seattle', 'san francisco', 'tokyo'],
                  'multilabel':[['a1','a2'],['a1'],['a3'],['a4'],['a5'],['a6']],
                  })

mapper = DataFrameMapper([
    (['multilabel'],MultiLabelBinarizer())
])
pipel

[2020-03-21 06:52] paro1234 opened #203 "[Question] Want to contribute. looking for good first issue"
Hi,
I want to contribute to this awesome library. Can you point me to any good first issue? All I checed were either done or PR pending.
Thanks a ton.

[2020-03-27 07:41] jayanti-prasad commented on #197
This is bad. No matter what you use in the code you get the error.
I use the following line in the code:

LogisticRegression (solver='lbfgs',penalty='l2')

and the same with :

LogisticRegression (solver='lbfgs')

=================================
Traceback (most recent call last):
  File "classifiers.py", line 224, in <module>
    model.fit(X_train, y_train)
  File "/usr/local/lib/python3.7/site-

[2020-04-11 10:47] FelixChop opened #204 "OneHotEncoder returning 'x0' in column names"
Probably something that was seen before, but it makes it tricky to use the DataFrameMapper in a production-ready pipeline, since one needs to add a `.rename()` with multiple column names.

Example seen below:
`from sklearn.preprocessing import OneHotEncoder`
`onehotencoder = OneHotEncoder()`

`df = pd.DataFrame({`
`    'categorical': ['A', 'B', 'C']`
`})`

`mapper = DataFrameMapper([`
`    (['cate

[2020-04-11 11:52] FelixChop opened #205 "DataFrameMapper x SimpleImputer outputs an error with a DataFrame with 1 row"
I am trying to run the DataFrameMapper for a DataFrame with 1 row in order to do some what-if analysis with my data prep pipeline. 1 row doesn't seem to work. More than 1 row can work if you add non missing values. Examples below:

`import pandas as pd`
`from sklearn_pandas import DataFrameMapper`
`from sklearn.impute import SimpleImputer`

`df = pd.DataFrame({`
`    'column_1': ['A', 'B', np.nan]

[2020-04-11 11:55] FelixChop commented on #205
Note that it returns an error only if SimpleImputer is used for categorical variables. For numeric variables, no problem:

`df = pd.DataFrame({`
`    'column_1': [1, 2, np.nan]`
`})`

`imputer = SimpleImputer(strategy='constant', fill_value='A')`

`mapper = DataFrameMapper([`
`   (['column_1'], imputer)`
`])`

`mapper.fit(df)`

This works:

`mapper.transform(pd.DataFrame({`
`   'column_1': [np.nan

[2020-04-24 15:02] fkromer opened #206 "Dataframe for non-matrix classification metrics"
It would be valuable to have some mapping functionality which takes `y_true`, `y_pred`, `y_score`, `pred_decision` (output of `estimator.decision_function()`), `x` (`AUC` only), `y` (`AUC` only) and converts it into a standardized pandas DataFrame ("non-matrix classification metric dataframe") which could look like follows:

| metric                       | accuracy_score | auc   | ... | zero_one_

[2020-05-01 19:52] AlanGanem commented on #41
Hello guys. Any update on this issue?

[2020-05-13 08:43] sxooler commented on #41
I am joining @AlanGanem: Is there any update? I can see some updates in #133 and #182 , but it's already been more than 1 year and nothing was approved and merged.

[2020-05-14 11:28] abhi8893 opened #208 "Dropping a column explicitly in DataFrameMapper"
Consider the following artificial data:

[code]

In sklearn `ColumnTransformer`, I can drop any column I want by specifying `'drop'` as the transformer as follows:

[code]

Is there a similar way in `sklearn-pandas` `DataFrameMapper` to drop **exactly the column I want**?

The documentation https://pypi.org/project/sklearn-pandas/1.5.0/ says "Only columns that are listed in the DataFrameMapper are

[2020-05-31 21:29] ragrawal opened #209 "Include Progress Bar Option"
Sometimes when you are working with lot of variables, it will be nice to have a progress bar indicating how many variables have been processed. I am thinking of leveraging tqdm and also display the column that the loop is currently operating on.

[2020-06-02 16:31] ragrawal opened #211 "Is it being maintained ?"
Hi

I am not sure whether this library is being maintained anymore or not. The last commit was made on Jan 2019. Organizers please let us know if you don't plan to maintain it.

[2020-08-01 08:15] #211 closed

[2020-08-03 07:14] #201 closed

[2020-08-10 21:57] dpatschke opened #214 "Unable to apply StandardScaler to multiple columns"
The following code snippet is returning an error for me. I'm not sure whether there are some scikit-learn transformers that are now requiring a 2d array rather than 1d but the error I am receiving from scikit-learn is that a 2d array is being required for StandardScaler. I forked the code and tried to correct myself in `_get_col_subset` but to no avail.

I'm using sklearn-pandas 2.0.0

[code]

[2020-08-11 00:33] dpatschke commented on #214
Ok ... did a bit more probing on this.

It appears the only scikit-learn preprocessing transformer that actually works with a 1d array vs. 2d array is the one that iss shown as an example in the README for `gen_features` ... LabelEncoder. All others appear to either require or support a 2d-array.

I was able to fix the problem by changing the line on 195 in dataframe_mapper.py to the following:
[c

[2020-08-16 20:29] ragrawal commented on #214
@dpatschke thanks for reporting this. Another option is to explicit provide an array of columns. This should work .

[code]

[2020-08-16 20:29] #214 closed

[2020-08-16 20:35] ragrawal commented on #205
@FelixChop I am not able to replicate your issue. Can you try the latest version sklearn and let me know if you still see the issue. Closing it out for now but feel free to reopen if the issue persists.

[2020-08-16 20:35] #205 closed

[2020-08-16 20:36] ragrawal commented on #204
@FelixChop Yup I noticed the same issue and it's because of some recent changes in sklearn library itself. The classes_ variable returned by sklearn includes x0, x1 as they support multiple columns.

[2020-08-16 20:36] #204 closed

[2020-08-16 20:38] ragrawal commented on #203
@paro1234 Thanks for your interest in contributing to this library. Here is one interesting and simple issue to look into: https://github.com/scikit-learn-contrib/sklearn-pandas/issues/208

[2020-08-16 20:38] #203 closed

[2020-08-16 20:43] ragrawal commented on #200
@DemirTonchev you can use gen_features to generate transformations for all other columns. Something like this

[code]

[2020-08-16 20:43] #200 closed

[2020-08-16 20:45] ragrawal commented on #192
@FlorisHoogenboom I recently took over maintenance of this library. If you have PR for this, I can take a look and merge it.

[2020-08-16 20:45] #192 closed

[2020-08-16 23:29] dpatschke commented on #214
@ragrawal Thanks for the workaround! I did notice the wrapping of column names in a list in one of the examples but failed to make the connection presented in your suggestion. Thanks again!

[2020-08-17 04:19] paro1234 commented on #208
Thanks @ragrawal . I will pick it up. Can you assign this to me?

[2020-08-17 04:35] ragrawal commented on #208
done.

On Sun, Aug 16, 2020 at 9:19 PM paro1234 <notifications@github.com> wrote:

--
Senior Data Scientist
Uber Technologies, Inc
Website: http://ragrawal.wordpress.com

[2020-08-19 12:43] paro1234 commented on #208
As per documentation from [sklearn](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/compose/_column_transformer.py),
_        transformer : **{'drop', 'passthrough'} or estimator**
            Estimator must support :term:`fit` and :term:`transform`.
            Special-cased strings 'drop' and 'passthrough' are accepted as
            well, to indicate to drop the columns or to p

[2020-08-19 16:29] paro1234 commented on #199
Method 1 no longer gives Attribute error. Here is the output.
`   pet  children  salary
0   cat       4.0    90.0
1   dog       6.0    24.0
2   dog       3.0    44.0
3  fish       3.0    27.0
4   cat       2.0    32.0
5   dog       3.0    59.0
6   cat       5.0    36.0
7  fish       4.0    27.0
Initialization complete
Iteration 0, inertia 1035.0
Iteration 1, inertia 925.1428571428571
Converged at

[2020-08-19 16:42] paro1234 commented on #199
The object mapper2 in this case support 'fit', 'transform' and 'fit_transform' functionality only. 'Predict' will not work.

[2020-08-23 18:21] KshetriDeepen commented on #197
# Logistic Regression
from sklearn.linear_model import LogisticRegression
lr_classifier = LogisticRegression(random_state = 51, penalty = 'l1')
lr_classifier.fit(X_train, y_train)
y_pred_lr = lr_classifier.predict(X_test)
accuracy_score(y_test, y_pred_lr)

And Encountered this issue:
ValueError                                Traceback (most recent call last)
<ipython-input-43-e927e8b21b13> in <mod

[2020-09-07 17:38] ragrawal commented on #208
@abhi8893 Thanks to @paro1234 . This is now supported. You can pass an additional variable `drop_cols` to explicitly drop columns.

[2020-09-07 17:38] #208 closed

[2020-09-07 17:43] ragrawal commented on #202
MultilabelBinarizer expects a single column as an input. You need to replace mapper with this

[code]

[2020-09-07 17:43] #202 closed

[2020-09-07 17:45] ragrawal commented on #195
you might want to post this question on sklearn forum

[2020-09-07 17:45] #195 closed

[2020-09-07 17:50] ragrawal commented on #187
Along with `alias` you can know also provide `prefix` and `postfix`

[code]

[2020-09-07 17:50] #187 closed

[2020-09-08 19:27] alxfed opened #218 "drop_cols= ... doesn't exist"
Regarding your claim:

https://github.com/scikit-learn-contrib/sklearn-pandas#dropping-columns-explictly

TypeError: __init__() got an unexpected keyword argument 'drop_cols'

[2020-09-09 01:28] ganesh-krishnan commented on #173
Just checking on this issue. Looks like `sklearn` now has `ColumnTransformer`. As such, I'm not sure if there are any additional benefits to using `sklearn-pandas`. Would someone mind clarifying?

[2020-09-09 14:38] micahjsmith commented on #173
I never followed up above...

But maybe we can start collecting differences on this thread. ColumnTransformer is close to feature parity, and APIs I presume may change. They are quite similar overall with some minor differences.

### API differences

| functionality | DataFrameMapper | ColumnTransformer |
|---|---|---|
| drop unmapped cols | `default = 'False'` | `remainder = 'drop'` |
| drop spec

[2020-09-11 20:24] ragrawal commented on #218
which version of sklearn-pandas are you using? Please make sure to upgrade it to 2.0.1

[2020-09-11 20:26] #218 closed

[2020-09-12 12:22] alxfed commented on #218
Ha-ha-ha!

[2020-09-20 14:49] micahjsmith commented on #173
@ganesh-krishnan does the above look about right?

[2020-09-21 17:00] ganesh-krishnan commented on #173
Looks good per my understanding.

I'm not an expert in both by any means. Was struggling on which one to choose.
A table like this should be very valuable to folks trying to make a decision.

[2020-09-23 04:48] arora123 commented on #173
Few basic differences in DataFrameMapper() and ColumnTransformer():
https://github.com/arora123/Python-for-Data-Science/blob/master/DataFrameMapper_Vs_Column_Transformer.ipynb

[2020-10-14 15:40] raybellwaves opened #220 "add to conda-forge?"
Any interest to add this package to conda-forge? I tend to use that as my default package installer?

Fairly easy now with Grayskull: https://www.marcelotrevisani.com/grayskull

[2020-10-16 11:53] kirel commented on #138
This is still an issue.

[2020-10-28 16:22] mautini opened #221 "Transformed names with default Scaler"
Hello,

I'm trying to map a Data Frame using your library. For most of my features I want to use a RobustScaler so I set it as default for the DataFrameMapper but after fitting and transforming my DataFrame a got very long names for the generated features (concatenation of all the features with _ and an id at the end)

Example using a small Data Frame :

[code]
I think it would be more human reada

[2020-11-06 23:32] ragrawal commented on #220
Hi @raybellwaves .. this is on my todo list. Let me checkout this Grayskull . Thanks for prompting this

[2020-11-06 23:46] ragrawal commented on #221
Hi @mautini , you can resolve this in multiple ways. Here is one approach to it:

[code]

[2020-11-06 23:46] #221 closed

[2020-11-07 01:12] #209 closed

[2020-11-08 07:32] #193 closed

[2020-11-08 07:34] #147 closed

[2020-11-08 07:35] #103 closed

[2020-11-14 05:17] ACassoni opened #223 "Can someone help me with this code? Maybe its a problem of the version. Thanks"
`from sklearn_pandas import DataFrameMapper
from sklearn.preprocessing import StandardScaler, LabelEncoder
mapper_df = DataFrameMapper([
    (["age"], None),
    ("workclass", LabelEncoder()),
    ("maxEdu", LabelEncoder()),
    ("civilStatus", LabelEncoder()),
    ("workType", LabelEncoder()),
    ("relationship", LabelEncoder()),
    ("race", LabelEncoder()),
    (["hrs-week"], StandardScaler())

[2020-11-14 17:20] ragrawal commented on #223
I think labelEncoder expects an array. Try this
`(['workclass'], LabelEncoder()),`

[2020-11-14 17:22] #199 closed

[2020-11-14 17:22] #186 closed

[2020-11-14 17:25] ragrawal commented on #183
Hi @FlorisHoogenboom
Thanks for raising this issue. I took over the maintenance of sklearn-pandas and going through all the old issues. I think this is an important issue and should be fixed. I see your PR and happy to merge it. Wondering is there any way we can test this.

[2020-11-14 17:25] #128 closed

[2020-11-14 22:01] FlorisHoogenboom commented on #183
In general it is very hard to test these kind of concurency safety models. I think the MR proposed at least fixxes some very obvious problems by making those operations more atomic. I wouldn't know any way to validate (except by deducing it from the operations performed) programmatically that this method is indeed thread safe now.

[2020-11-14 22:50] ACassoni commented on #223
It worked, thank you!

[2020-11-16 13:47] #223 closed

[2020-11-16 13:48] ragrawal commented on #183
okie. I will review the MR and merge it. Thanks for your submission.

[2020-11-16 13:48] #183 closed

[2020-11-19 05:15] #136 closed

[2020-11-19 05:17] ragrawal opened #224 "Implement __getstate__"
DataFrameMapper implements __setstate__ but not __getstate__. This impacts when converting DataFrameMapper into a graph node using Baikal's `make_step` routine. .

[2020-11-19 05:19] ragrawal opened #225 "Replace tox with nox"
Nox is much easier to integrate with GitHub Actions as compared to tox. Also having everything as python native makes it easier to work with nox.

- [x] Switch to nox
- [x] Create action to test using nox
- [ ] Update/delete CircleCI
- [x] Update Contribution documents.

[2020-11-20 23:52] #225 closed

[2020-11-25 11:09] JohannesWiesner opened #229 "Add an option to keep all 'not-transformed' columns by default"
I have a data frame that contains a lot of variables. I am currently doing exploratory data analysis and for that, I only want to apply transformations (scaling, imputing, etc.) on certain columns and followingly draw histograms, scatterplots, etc. For my workflow it would be nice, if all 'not-transformed' columns would be kept by default in the output data frame when calling `mapper.fit_transform

[2020-11-26 15:04] JohannesWiesner commented on #229
Sorry, I just discovered that you can pass `default=None` to `DataFrameMapper` which solves this issue.

[2020-11-26 15:04] #229 closed

[2020-12-01 01:26] PyDataBlog opened #230 "1D array error from the gen_features method"
After following the docs on how to use the `gen_features` method I am getting a 1D array error that I can't get by. Here's a reproducible example.

I just want to apply Standard scaling to all my features using the `gen_features`:

[code]

Here's the full error log:

[code]

How can I solve this?

[2020-12-01 09:12] PyDataBlog commented on #230
found the solution for anyone with this problem. `columns` should be a list of lists such that:

[code]

[2020-12-01 09:12] #230 closed

[2020-12-01 15:02] raybellwaves commented on #220
https://github.com/conda-forge/sklearn-pandas-feedstock

[2020-12-01 15:02] #220 closed

[2020-12-13 20:33] kengz opened #233 "Installation failed via pip on Mac OS X Python 3.9"
Hi, I'm running into issues installing this via pip on Python 3.9, despite having few of the requirements already satisfied (see the first lines of the log below):

[code]
and the error log goes on for many pages and prohibits pasting here

[2020-12-18 15:55] Sandy4321 opened #234 "can you share why it is better than to use only pandas is it faster or less code?"
can you share why it is better than to use only pandas
is it faster or less code?

[2020-12-19 19:36] kengz commented on #233
Found workaround: manually install the dependencies first (scikit-learn, numpy, pandas) then installing this will not trigger dependency installation, and it only installs sklearn-pandas.
Still wonder why the dependency installation from sklearn-pandas fails

[2020-12-21 14:55] ragrawal commented on #234
Can you provide me context by what do you mean "better than to use only pandas". Are asking about sklearn-pandas and what it provides ? If so, sklearn-pandas is not about speed but more about convenience and less code. One of the biggest advantages that it provides lineage information about how features were constructed. Apart from that, it's a lot more succient than trying to use plain vanilla sk

[2020-12-21 14:55] #234 closed

[2020-12-21 14:57] ragrawal commented on #233
@kengz : thanks for reporting this. Python 3.9 is still not officially supported by sklearn-pandas. I can give it a try and see if we can start supporting it.

[2020-12-21 14:58] #178 closed

[2021-01-05 09:38] ayush237 commented on #197
The solver liblinear supports those panalties, so make sure to create your classifier object like this :
``` clf = LogisticRegression(C=0.01, penalty='l1',solver='liblinear'); ```

[2021-01-06 16:16] #224 closed

[2021-01-12 04:11] pradumna123 commented on #171
Hello, I would like to work on it
Can you please assign it to me

[2021-02-16 07:47] ragrawal commented on #233
I am not able to reproduce the issue. Added Python 3.9 related tests. cases. Closing this for now.

[2021-02-16 07:47] #233 closed

[2021-02-20 08:56] ragrawal commented on #191
I started doing this again. Looking for a way to automate this using github actions. Let me know if you have any idea/suggestions.

[2021-02-20 09:40] inglor commented on #191
Hi @ragrawal it depends on your approach for releases.

If you want a flourish of releases you can make github action tag the master branch on every PR merge. Then provided you are only allowing commits to master/main branch only from merges (i.e. from a PR) then you have a new release on every merge.

If your model for releases is different then maybe you can push a specific commit message or an

[2021-02-25 19:05] mdancho84 opened #239 "Column Selection: Compatibility with sklearn.compose.make_column_selector"
Hey, awesome package. I'm planning to use it in my python course I'm developing.

## Question

Is it possible to apply transformations by data type or with a column selection method similar to `sklearn.compose.make_column_selector`?

## Example

A simple example is to select all numeric columns for scaling. With sklearn I'd do something like this:

[code]

Ideally I'd be able to use the `make_colu

[2021-02-27 16:07] #191 closed

[2021-02-28 11:09] ragrawal commented on #239
Hi @mdancho84 , no this is not yet implemented. The ideas was previously discussed but we never got it implemented. Let me think about it. One workaround for now is to use gen_feature as shown in README. Let me know if that works for you

[2021-03-03 23:56] stacymiller opened #241 "Column naming: compatibility with OneHotEncoder"
In sklearn v0.24.1 [OneHotEncoder](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html) transformer exposes derived names in the `categories_` attribute. Can we add one more check to
https://github.com/scikit-learn-contrib/sklearn-pandas/blob/e84274643369fc6f75ca4b1b08824e188e96cd3f/sklearn_pandas/dataframe_mapper.py#L40 to cover this case?

[2021-03-04 01:47] turian opened #242 "LabelBinarizer has confusing names when there are only two labels"
When there are only two labels, transformed_names_ in LabelBinarizer is confusing. Let's say I have pet is "dog" or "cat". I am visualizing the decision tree, and it has splits like "pet < 0.5".  I can't tell if that means cat or dog.

Could there be a special case for LabelBinarizer that if there are only two labels, the label with value 1.0 is in the name?

[2021-03-05 07:12] weidongzhou1994 opened #243 "the name of cross multiplicative term is not i want"
as title

when I use the PolynomialFeatures to generate the cross multiplicative term, the name is confusion.

![image](https://user-images.githubusercontent.com/40510496/110080262-2d7b0b80-7dc5-11eb-8157-c68d2c619867.png)

[2021-03-24 17:53] lqrz opened #244 "Verbose"
Hi, I think it iwould be a good idea to be able to parameterise the logger (i.e. a verbose param).

I am currently using a DataFrameMapper on a Dask DataFrame of hundreds of columns, and thus every time I call the `transform()` function, I get an output of `+100 * n_partitions` lines, due to [this line](https://github.com/scikit-learn-contrib/sklearn-pandas/blob/e84274643369fc6f75ca4b1b08824e188e9

[2021-03-27 17:58] ragrawal commented on #244
hi @lqrz
Thanks for reporting the issue. I agree. Let me fix it in the next release.

[2021-03-27 18:00] ragrawal commented on #243
Hi @weidongzhou1994
You can use alias term .
mapper = DataFrameMapper([
   (['out', 'inner'], [sklearn...], {'alias': 'xyz'})
], ...)

Then the name of the fields will be 'xyz_x0', 'xyz_x1', , ..

[2021-03-27 18:00] #243 closed

[2021-03-31 16:02] ragrawal commented on #244
Meanwhile, let me know if existing solution to control log message works for your not. You can explicit set logging level for sklearn_pandas using the following code
[code]

[2021-04-06 11:28] lqrz commented on #244
Hi @ragrawal, it's a nice workaround. It does work indeed!
Thanks again for taking care of this.

[2021-04-21 04:59] linehammer commented on #2
There is a mismatch in "What you can pass" Vs. "What you are actually passing". This means that the scikit-learn library is not able to recognize what type of problem you want to solve ( regression or classification ). The [Unknown label type](http://net-informations.com/ds/err/unknown.htm): 'unknown' error raised related to the Y values that you use in scikit-learn .

**solutions**

- Group your

[2021-05-08 08:45] ragrawal commented on #242
This is beyond the scope of sklearn-pandas. We rely on transformers to provide appropriate column names. One option is you can write your own custom LabelBinarizer that correlectly selects the` self.classes_` variable. We use this variable to get category labels.

[2021-05-08 08:45] #242 closed

[2021-05-08 08:51] ragrawal commented on #138
sorry for the delay. Let me look into this.

[2021-05-08 08:56] ragrawal commented on #241
Sure, can you create a MR and add a unit test. I will be happy to merge it.

[2021-05-08 08:58] #122 closed

[2021-06-01 18:08] GitHunter0 commented on #41
Yes, it is a pitty, this would be a very useful feature

[2021-06-02 11:51] JohnPaton commented on #109
Sorry, that was 2 years ago, I don't have it lying around now  😕

[2021-09-08 13:43] ajayverma90 commented on #171
I ma facing the same issue, I have a `DataFrame` with `float` and `str` dtypes.
using `default=None` converts the `dtype` of all the columns to `object`
which is causing my Pipelines to fail.

[2021-09-27 01:38] Kaushal-Prasad opened #247 "ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty."
lr1 = LogisticRegression(C=4,penalty='l1', verbose=5)
lr1.fit(X_train_res, y_train_res.ravel())

ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

I'm getting the below error. Can anyone help check?

[2021-10-03 20:02] devforfu commented on #247
@Kaushal-Prasad as the error reads, the `lbfgs` solver (the default choice for the `LogisticRegression`) doesn't support this kind of penalty. Try to pick another solver, like:
[code]
As this repo is for `sklearn-pandas` interface, please refer to the [`scikit-learn`s documentation](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html) to get more informat

[2021-10-03 20:02] #247 closed

[2021-10-17 18:27] falcaopetri commented on #241
The `categories_` attribute does not represent the derived feature names. It actually contains `The categories of each feature determined during fitting`, see [OneHotEncoder.categories_](https://github.com/scikit-learn/scikit-learn/blob/2beed5584/sklearn/preprocessing/_encoders.py#L248)).

Nonetheless, sklearn 1.0 transformer's `get_output_names` is getting deprecated in favor of `get_feature_name

[2021-10-17 18:33] falcaopetri commented on #174
Sklearn 1.0 estimator API has better support for `feature_names`. For example, using `DataFrameMapper`'s `df_in=True` allows us to get:

[code]

Where `children_salary` was added by `sklearn-pandas`.

Same applies to, e.g., `OneHotEncoder`:
[code]
vs
[code]

Would it be possible to take advantage of the sklearn's capabilities and improve the handling at `DataFrameMapper.get_names`?

[2021-11-17 18:18] cBournhonesque opened #249 "Error when using custom dataframe types (modin/lux/dask dataframes)"
Some packages convert the dataframe type into other types that have a similar interface (modin/dask).

This causes issues with sklearn-pandas, more specifically this function:
https://github.com/scikit-learn-contrib/sklearn-pandas/blob/master/sklearn_pandas/dataframe_mapper.py#L311

I fixed this issue by replacing
[code]
 with
[code]

But there must be a better solution. How could we handle those

[2021-12-09 11:35] gennaro-tedesco opened #250 "get_feature_names() FutureWarning"
## Reference issue

[See discussion with sklearn](https://github.com/scikit-learn/scikit-learn/issues/21858) devs.

## Description

It seems that sklearn is issuing DeprecationWarnings in correspondence of the calls to `get_feature_names()`. In particular this happens around [this line](https://github.com/scikit-learn-contrib/sklearn-pandas/blob/65538c4322f219236f576938006ccc7565bd6de4/sklearn_pan

[2021-12-09 11:36] hu-minghao commented on #250
你好，已收到，谢谢。

[2022-01-31 11:18] PyVCEchecker opened #251 "“python_requires” should be set with “>=3.6”, as sklearn-pandas 2.2.0 is not compatible with all Python versions"
Currently, the keyword argument **python_requires** of **setup()** is not set, and thus it is assumed that this distribution is compatible with all Python versions.
However, I found it is not compatible with **Python<3.6**. My local Python version is 3.5, and I encounter the following error when executing _“pip install sklearn-pandas”_

[code]
Dependencies of this distribution are listed as follow

[2022-01-31 11:18] hu-minghao commented on #251
你好，已收到，谢谢。

[2022-02-08 16:01] roei-simplex opened #252 "DataFrameMapper - pass custom callable function and preserve columns names"
As mentioned in [Dynamic Columns section](https://github.com/scikit-learn-contrib/sklearn-pandas#dynamic-columns)of the documentation, DataFrameMapper supports selecting columns dynamically during the fit operation by passing a custom callable or using sklearn.compose.make_column_selector.
I've tried doing so, and the behavior I've experienced is that the columns names are replaced with column ind

[2022-02-23 10:51] adiv5 opened #253 "Multiple Transforms for Multiple Columns"
Hello,

I wanted to know is there any way to do multiple transforms on multiple columns , treating each one seperately.

I was able to implement it using Sklearn's `ColumnTransformer` as follows:
[code]

However SKlearn pandas' documentation doesnt point me to something like this.
I can see there are 2 sections --- one for single column , multiple transforms and other for multiple colums, single t

[2022-02-23 10:52] hu-minghao commented on #253
你好，已收到，谢谢。

[2022-03-06 21:29] QuadV commented on #206
This sounds interesting. Could be a good addition to the repo. Can I take it up?

[2022-06-20 16:22] capfei opened #256 "License clarification"
I'm a little confused on what the license is supposed to be.

With version 2.1.0, MIT is listed as the license in setup.py but the license file states Zlib. Is the python package actually under MIT and the license file is wrong or is MIT incorrect and it should be Zlib?
htt
ps://pypi.org/project/sklearn-pandas/

I also noticed that sklearn-pandas states BSD-3-Claues on conda-forge. Is this correct

[2022-07-29 11:10] minorchange opened #257 "Unexpected Dropping of columns"
In the following lines the resulting prints do not change if the line `drop_cols=["salary"]` is commented out:
[code]
In both the uncommented and the commented case there is no salary column in the transformed dataframe. I would have expected that unmentioned columns are not touched, especially since the drop_cols option exists.

Is this just me having arbitrary expectations or is there something

[2022-10-13 12:51] StochasticBoris opened #259 "Bug when using sklearn's make_column_selector & default=None"
Hi,

when calling DataFrameMapper with
1.  default = None
2.  The feature selection specified using sklearn's make_column_selector,

The output of transform() is incorrect, as it passes through ALL columns, not only the ones unaffected by the transformation - as is intended.

First, I have monkeypatched sklearn-pandas to insert some prints into:

[code]

First, if the columns for the feature are p